<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>관리자페이지</title>
        <link rel="stylesheet" th:href="@{/css/common/common.css}" />
        <link rel="stylesheet" th:href="@{/css/admin/admin.css}" />
        <script defer th:src="@{/js/admin/admin.js}"></script>
    </head>
    <body>
        <header th:replace="~{common/header/header_admin::admin-header}"></header>
        <div class="layout-sidenav">
            <h1 class="title">관리자 페이지</h1>
            <nav class="menu-nav">
                <ul>
                    <li class="active"><a th:href="@{/admin}">회원 관리</a></li>
                    <li><a th:href="@{/admin/pill}">약품 관리</a></li>
                    <li><a th:href="@{/admin/qna}">게시판 관리</a></li>
                </ul>
            </nav>
        </div>
        <div class="layout-content">
            <div class="tabs">
                <a class="item" th:classappend="${currentMemberType == 'general'} ? 'active'" th:href="@{'/admin/general/index'}">일반회원</a>
                <a class="item" th:classappend="${currentMemberType == 'expert'} ? 'active'" th:href="@{'/admin/expert/index'}">전문회원</a>
            </div>

            <div class="member-list-wrap">
                <form class="search-area" th:action="@{/admin/index}" method="get">
                    <select name="" id="">
                        <option value="">아이디</option>
                        <option value="">이름</option>
                    </select>
                    <label class="form-control">
                        <input type="text" placeholder="Search Member">
                    </label>
                    <button class="btn-normal btn-primary" type="button">찾기</button>
                </form>
                <div class="tbl-row">
                    <table>
                        <colgroup>
                            <col>
                            <col>
                            <col>
                            <col>
                            <th:block th:if="${currentMemberType == 'expert'}">
                                <col>
                                <col>
                            </th:block>
                            <col style="width: 140px;">
                            <col style="width: 140px;" >
                            <col style="width: 100px;">
                        </colgroup>
                        <thead>
                            <tr>
                                <th>아이디</th>
                                <th>이름</th>
                                <th>생년월일</th>
                                <th>성별</th>
                                <th:block th:if="${currentMemberType == 'expert'}">
                                    <th>약국명</th>
                                    <th>약국 위치</th>
                                </th:block>
                                <th>전화번호</th>
                                <th>이메일</th>
                                <th>옵션</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="board : ${list}">
                                <td>
                                    <span th:text="${board.loginId}">Test01</span>
                                </td>
                                <td>
                                    <span th:text="${board.name}">홍길동</span>
                                </td>
                                <td>
                                    <span th:text="${board.birth}">2000년 00월 00일</span>
                                </td>
                                <td>
                                    <span th:text="${board.gender}">남성</span>
                                </td>
                                <th:block th:if="${currentMemberType == 'expert'}">
                                    <td>
                                        <span th:text="${board.job}">모두약국</span>
                                    </td>
                                    <td>
                                        <span th:text="${board.pharmacyAddress}">서울특별시 노원구 상계로1길 34</span>
                                    </td>
                                </th:block>
                                <td>
                                    <span th:text="${board.phoneNumber}">010-1234-5678</span>
                                </td>
                                <td>
                                    <span  th:text="${board.email}">text@test.com</span>
                                </td>
                                <td>
                                    <div class="options">
                                        <button class="btn-sm btn-light-primary" type="button">option</button>
                                        <ul class="option-box">
                                            <li><a class="btn-open-modal" href="#"
                                                   th:data-member="${currentMemberType == 'expert' ? board.expertId : board.memberId}"
                                                   th:data-member-type="${currentMemberType == 'expert' ? 'expert' : 'general'}"
                                            >View</a></li>
                                            <li><a href="#">Delete</a></li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="tb-footer-control">
                    <ul class="pagination">
                        <li class="page-item disabled"><a class="page-link previous" href="#"></a></li>
                        <li class="page-item active"><a class="page-link " href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item"><a class="page-link" href="#">4</a></li>
                        <li class="page-item"><a class="page-link" href="#">5</a></li>
                        <li class="page-item"><a class="page-link next" href="#"></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="modal-wrap">
            <div class="modal-header">
                <button class="btn-close modal-close" type="button" >닫기</button>
            </div>
            <div class="modal-body">
                <h3 class="title">회원정보</h3>
                <div class="member-info">
                    <dl class="form-control">
                        <dt class="tit">아이디</dt>
                        <dd class="cont" id="loginId">Test01</dd>
                    </dl>
                    <label class="form-control">
                        <span class="label-text">회원 이름</span>
                        <input type="text" id="memberName" name="name" value="홍길동" readonly>
                    </label>
                    <dl class="form-control">
                        <dt class="tit">생년월일</dt>
                        <dd class="cont" id="memberBirth" >2000년 1월 1일</dd>
                    </dl>
                    <dl class="form-control">
                        <dt class="tit">성별</dt>
                        <dd class="cont" id="memberGender" >남</dd>
                    </dl>
                    <th:block th:if="${currentMemberType == 'expert'}">
                        <label class="form-control">
                            <span class="label-text">약국명</span>
                            <input type="text" id="memberJob" value="모두약국" name="job" readonly>
                        </label>
                        <label class="form-control">
                            <span class="label-text">약국 위치</span>
                            <input type="text" id="pharmacyAddress" value="서울특별시 노원구 상계로1길 34" name="pharmacyAddress" readonly>
                        </label>
                    </th:block>
                    <label class="form-control">
                        <span class="label-text">전화번호</span>
                        <input type="text" id="memberPhoneNumber" value="010-1234-5678" name="phoneNumber" readonly>
                    </label>
                    <label class="form-control">
                        <span class="label-text">이메일</span>
                        <input type="text" id="memberEmail" value="test@test.com" name="email" readonly>
                    </label>
                </div>
                <div class="btn-area">
                    <input type="hidden" id="modal-member-type">
                    <input type="hidden" id="modal-member-id">
                    <button id="btn-modify" class="btn btn-light" type="button">수정</button>
                    <button id="btn-check" class="btn btn-primary modal-close" type="button">확인</button>
                    <button id="btn-back" class="btn btn-light" type="button">취소</button>
                    <button id="btn-change-modify" class="btn btn-primary" type="button" >적용</button>
                </div>
            </div>
        </div>
    </body>
</html>
