<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>관리자페이지</title>
        <link rel="stylesheet" th:href="@{/css/common/common.css}" />
        <link rel="stylesheet" th:href="@{/css/admin/admin.css}" />
        <script defer type="module" th:src="@{/js/admin/admin.js}"></script>
    </head>
    <body>
        <header th:replace="~{common/header/header_admin::admin-header}"></header>
        <div class="layout-sidenav">
            <h1 class="title">관리자 페이지</h1>
            <nav class="menu-nav">
                <ul>
                    <li class="active"><a th:href="@{/admin}">회원 관리</a></li>
                    <li><a th:href="@{/admin/pill}">약품 관리</a></li>
                    <li><a th:href="@{/admin/qna}">게시판 관리</a></li>
                </ul>
            </nav>
        </div>
        <div class="layout-content">
            <div class="tabs">
                <a class="item" th:classappend="${memberType == 'general'} ? 'active'" th:href="@{'/admin/general/index'}">일반회원</a>
                <a class="item" th:classappend="${memberType == 'expert'} ? 'active'" th:href="@{'/admin/expert/index'}">전문회원</a>
            </div>

            <div class="member-list-wrap">
                <form class="search-area" th:action="${'/admin/' + memberType + '/index'}" method="get">
                    <label>
                        <select name="keywordType">
                            <option value="LOGIN_ID">아이디</option>
                            <option value="NAME">이름</option>
                            <option value="EMAIL">이메일</option>
                        </select>
                    </label>
                    <label class="form-control">
                        <input type="text" name="keyword" placeholder="Search Member">
                    </label>
                    <button class="btn-normal btn-primary" type="submit">찾기</button>
                </form>
                <div class="tbl-row">
                    <table>
                        <colgroup>
                            <col style="width: 140px;">
                            <col style="width: 140px;">
                            <col style="width: 120px;">
                            <col style="width: 80px;">
                            <th:block th:if="${memberType == 'expert'}">
                                <col style="width: 100px;">
                                <col style="width: auto">
                            </th:block>
                            <col style="width: 140px;">
                            <col style="width: auto" >
                            <col style="width: 80px;">
                        </colgroup>
                        <thead>
                            <tr>
                                <th>아이디</th>
                                <th>이름</th>
                                <th>생년월일</th>
                                <th class="center">성별</th>
                                <th:block th:if="${memberType == 'expert'}">
                                    <th>직업</th>
                                    <th>약국 위치</th>
                                </th:block>
                                <th>전화번호</th>
                                <th>이메일</th>
                                <th class="center">옵션</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="board : ${list}">
                                <td>
                                    <span th:text="${board.loginId}"></span>
                                </td>
                                <td>
                                    <span th:text="${board.name}"></span>
                                </td>
                                <td>
                                    <span th:text="${board.birth}"></span>
                                </td>
                                <td class="center">
                                    <span th:text="${board.gender == 'M' ? '남' : (board.gender == 'F' ? '여' : '')}"></span>
                                </td>
                                <th:block th:if="${memberType == 'expert'}">
                                    <td>
                                        <span th:text="${board.job}"></span>
                                    </td>
                                    <td>
                                        <span th:text="${board.pharmacyAddress}"></span>
                                    </td>
                                </th:block>
                                <td>
                                    <span th:text="${board.phoneNumber}"></span>
                                </td>
                                <td>
                                    <span  th:text="${board.email}"></span>
                                </td>
                                <td class="center">
                                    <div class="options">
                                        <button class="btn-sm btn-light-primary" type="button">option</button>
                                        <ul class="option-box">
                                            <li><a class="btn-open-modal" href="#"
                                                   th:data-member-id="${memberType == 'expert' ? board.expertId : board.memberId}"
                                                   th:data-member-type="${memberType == 'expert' ? 'expert' : 'general'}"
                                            >View</a></li>
                                            <li><a class="btn-deleted" href="#"
                                                   th:data-member-id="${memberType == 'expert' ? board.expertId : board.memberId}"
                                                   th:data-member-type="${memberType == 'expert' ? 'expert' : 'general'}"
                                            >Delete</a></li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="tb-footer-control">
                    <ul class="pagination">
                        <li class="page-item" th:if="${pageSetDTO.prev}">
                            <a class="page-link previous"
                               th:href="${'/admin/' + memberType + '/index?page=' + (pageSetDTO.startPage - 1)}">
                            </a>
                        </li>

                        <li class="page-item"
                            th:classappend="${pageSetDTO.pageRequestDTO.page == i ? 'active' : ''}"
                            th:each="i : ${#numbers.sequence(pageSetDTO.startPage, pageSetDTO.endPage)}">
                            <a class="page-link"
                               th:href="${'/admin/' + memberType + '/index?page=' + i
                                + (pageSetDTO.pageRequestDTO.keywordType != null && pageSetDTO.pageRequestDTO.keywordType != '' ? '&keywordType=' + pageSetDTO.pageRequestDTO.keywordType : '')
                                + (pageSetDTO.pageRequestDTO.keyword != null && pageSetDTO.pageRequestDTO.keyword != '' ? '&keyword=' + pageSetDTO.pageRequestDTO.keyword : '')}"
                               th:text="${i}" >
                            </a>


                        </li>

                        <li class="page-item" th:if="${pageSetDTO.next}">
                            <a class="page-link next"
                                th:href="${'/admin/' + memberType + '/index?page=' + (pageSetDTO.endPage + 1)}">
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="modal-wrap">
            <div class="modal-header">
                <button class="btn-close modal-close" type="button" >닫기</button>
            </div>
            <div class="modal-body">
                <h3 class="title">회원정보</h3>
                <div class="member-info">
                    <dl class="form-control">
                        <dt class="tit">아이디</dt>
                        <dd class="cont" id="loginId"></dd>
                    </dl>
                    <label class="form-control">
                        <span class="label-text">회원 이름</span>
                        <input type="text" id="memberName" name="name" value="" readonly>
                    </label>
                    <dl class="form-control">
                        <dt class="tit">생년월일</dt>
                        <dd class="cont" id="memberBirth" ></dd>
                    </dl>
                    <dl class="form-control">
                        <dt class="tit">성별</dt>
                        <dd class="cont" id="memberGender" th:text="${memberGender == 'M' ? '남' : (memberGender == 'F' ? '여' : '')}"></dd>
                    </dl>
                    <th:block th:if="${memberType == 'expert'}">
                        <label class="form-control">
                            <span class="label-text">약국명</span>
                            <input type="text" id="memberJob" value="" name="job" readonly>
                        </label>
                        <label class="form-control">
                            <span class="label-text">약국 위치</span>
                            <input type="text" id="pharmacyAddress" value="" name="pharmacyAddress" readonly>
                        </label>
                    </th:block>
                    <label class="form-control">
                        <span class="label-text">전화번호</span>
                        <input type="text" id="memberPhoneNumber" value="" name="phoneNumber" readonly>
                    </label>
                    <label class="form-control">
                        <span class="label-text">이메일</span>
                        <input type="text" id="memberEmail" value="" name="email" readonly>
                    </label>
                </div>
                <div class="btn-area">
                    <input type="hidden" id="modal-member-type">
                    <input type="hidden" id="modal-member-id">
                    <button id="btn-modify" class="btn btn-light" type="button">수정</button>
                    <button id="btn-check" class="btn btn-primary" type="button">확인</button>
                    <button id="btn-back" class="btn btn-light" type="button">취소</button>
                    <button id="btn-change-modify" class="btn btn-primary" type="button" >적용</button>
                </div>
            </div>
        </div>
        <div class="alert-wrap" style="display: none">
            <p>정말 삭제 하시겠습니까?</p>
            <div>
                <button type="button">취소</button>
                <button type="button">확인</button>
            </div>
        </div>
    </body>
</html>
