<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>관리자페이지</title>
    <link rel="stylesheet" th:href="@{/css/common/common.css}" />
    <link rel="stylesheet" th:href="@{/css/admin/admin.css}" />
    <script defer th:src="@{/js/admin/admin.js}"></script>
  </head>
  <body>
    <nav class="top-header">
      <a th:href="@{/admin}" class="logo"
      ><img th:src="@{/images/common/logo_gray.svg}" alt=""
      /></a>
    </nav>
    <div class="admin-wrap">
      <div class="login-wrap">
        <div class="login-area">
          <h1 class="title">관리자 페이지 로그인</h1>
          <form class="form-area" th:action="@{/admin}" method="post">
            <label class="form-control row">
              <span class="label-text">관리자 ID</span>
              <input type="text" name="loginId" th:value="${loginId}" />
            </label>
            <label class="form-control row">
              <span class="label-text">패스워드</span>
              <input type="password" name="password" />
            </label>
            <label class="check-box">
              <input type="checkbox" name="rememberLoginId" th:checked="${loginId != null}" />
              <span class="label-text">로그인 ID 저장</span>
            </label>
            <button class="btn-login" type="submit">로그인</button>
          </form>
        </div>
        <dl class="login-tips">
          <dt>관리자 로그인 정보를 잊으셨나요?</dt>
          <dd>
            그룹 관리자 또는 직원인 경우, 회사 내 전체권한 관리자에게 문의해
            주세요.
          </dd>
        </dl>
      </div>
    </div>
    <script th:inline="javascript">
      document.addEventListener('DOMContentLoaded', function() {
        let message = /*[[${msg}]]*/ '';
        console.log('Message:', message);
        if (message && message.trim() !== "" && message !== "null") {
          alert(message);
        }

      });
    </script>
  </body>
</html>
