<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>관리자페이지</title>
        <link rel="stylesheet" th:href="@{/css/common/common.css}" />
        <link rel="stylesheet" th:href="@{/css/admin/admin.css}" />
        <script defer type="module" th:src="@{/js/admin/admin.js}"></script>
    </head>
    <body>
    <header th:replace="~{common/header/header_admin::admin-header}"></header>
        <div class="layout-sidenav">
            <h1 class="title">관리자 페이지</h1>
            <nav class="menu-nav">
            <ul>
                <li><a th:href="@{/admin}">회원 관리</a></li>
                <li class="active"><a th:href="@{/admin/pill}">약품 관리</a></li>
                <li><a th:href="@{/admin/qna}">게시판 관리</a></li>
            </ul>
            </nav>
        </div>
        <div class="layout-content">
            <div class="member-list-wrap">
                <form class="search-area" th:action="@{/admin/pill}" method="get">
                    <label>
                        <select name="keywordType">
                            <option value="PILL_NAME">약품명</option>
                            <option value="COMPANY_NAME">회사명</option>
                        </select>
                    </label>
                    <label class="form-control">
                        <input type="text" placeholder="Search Pill" name="keyword" >
                    </label>
                    <button class="btn-normal btn-primary" type="submit">찾기</button>
                </form>
                <div class="tbl-row">
                    <table style="table-layout: fixed;">
                        <colgroup>
                            <col style="width: 100px;">
                            <col style="width: 140px;">
                            <col style="width: 62px;">
                            <col style="width: 88px;">
                            <col style="width: 88px;">
                            <col style="width: auto;">
                            <col style="width: auto;">
                            <col style="width: 120px;">
                            <col style="width: auto;">
                            <col style="width: auto;">
                            <col style="width: 60px;" >
                            <col style="width: 100px;">
                        </colgroup>
                        <thead>
                            <tr>
                                <th>제조사명</th>
                                <th>약품명</th>
                                <th>카테고리</th>
                                <th>등록일</th>
                                <th>수정일</th>
                                <th>약효능</th>
                                <th>복용/섭취방법</th>
                                <th>섭취시 주의사항</th>
                                <th>약보관방법</th>
                                <th>약형태 및 색상</th>
                                <th>약 사진</th>
                                <th>옵션</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="board : ${list}">
                                <td>
                                    <span th:text="${board.companyName}"></span>
                                </td>
                                <td>
                                    <span th:text="${board.pillName}"></span>
                                </td>
                                <td>
                                    <span th:text="${board.categoryId}"></span>
                                </td>
                                <td>
                                    <span th:text="${board.openDate}"></span>
                                </td>
                                <td>
                                    <span th:text="${board.updateDate}"></span>
                                </td>
                                <td>
                                    <span class="ellipsis" th:text="${board.detailContent}"></span>
                                </td>
                                <td>
                                    <span class="ellipsis" th:text="${board.intakePrecautions}"></span>
                                </td>
                                <td>
                                    <span class="ellipsis" th:text="${board.seQesitm}"></span>
                                </td>
                                <td>
                                    <span class="ellipsis" th:text="${board.pillDeposit}"></span>
                                </td>
                                <td>
                                    <span th:text="
                                    ${(board.pillShape != null ? board.pillShape : '') +
                                    (board.pillShape != null ? ' / ' : '') +
                                    (board.pillColor != null ? board.pillColor : '')}"></span>
                                </td>
                                <td>
                                    <span th:text="${board.pillImage != null ? '있음' : '없음'}"></span>
                                </td>
                                <td>
                                    <div class="options">
                                        <button class="btn-sm btn-light-primary" type="button">option</button>
                                        <ul class="option-box">
                                            <li><a href="#" class="btn-open-modal" th:data-item-id="${board.itemSeq}">detail</a></li>
                                            <li><a href="#" class="btn-deleted" th:data-item-id="${board.itemSeq}" >Delete</a></li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="tb-footer-control">
                    <ul class="pagination">
                        <li class="page-item" th:if="${pageSetDTO.prev}">
                            <a class="page-link previous"
                               th:href="${'/admin/pill?page=' + (pageSetDTO.startPage - 1)}">
                            </a>
                        </li>

                        <li class="page-item"
                            th:classappend="${pageSetDTO.pageRequestDTO.page == i ? 'active' : ''}"
                            th:each="i : ${#numbers.sequence(pageSetDTO.startPage, pageSetDTO.endPage)}">
                            <a class="page-link"
                               th:href="${'/admin/pill?page=' + i
                                   + (pageSetDTO.pageRequestDTO.keywordType != null && pageSetDTO.pageRequestDTO.keywordType != '' ? '&keywordType=' + pageSetDTO.pageRequestDTO.keywordType : '')
                                   + (pageSetDTO.pageRequestDTO.keyword != null && pageSetDTO.pageRequestDTO.keyword != '' ? '&keyword=' + pageSetDTO.pageRequestDTO.keyword : '')}"
                               th:text="${i}" >
                            </a>
                        </li>

                        <li class="page-item" th:if="${pageSetDTO.next}">
                            <a class="page-link next"
                               th:href="${'/admin/pill?page=' + (pageSetDTO.endPage + 1)}">
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="modal-wrap type2" >
            <div class="modal-header">
                <h3 class="title">약품 관리</h3>
                <button class="btn-close modal-close" type="button" >닫기</button>
            </div>
            <div class="modal-body">
                <div class="pill-info">
                    <div class="input-dual">
                        <dl class="form-control">
                            <dt class="tit">제조사명</dt>
                            <dd class="cont" id="companyName" ></dd>
                        </dl>
                        <dl class="form-control">
                            <dt class="tit">등록일 / 수정일</dt>
                            <dd class="cont" id="allDate"></dd>
                        </dl>
                    </div>
                    <div class="input-dual">
                        <label class="form-control">
                            <span class="label-text">약품명</span>
                            <input type="text" id="pillName" name="pillName" readonly>
                        </label>
                        <dla class="form-control">
                            <dt class="tit">약형태 및 색상</dt>
                            <dd class="cont" id="pillShapeColor"></dd>
                        </dla>
                    </div>
                    <dl class="form-control">
                        <dt class="tit">약효능</dt>
                        <dd class="cont scroll" id="detailContent"></dd>
                    </dl>
                    <dl class="form-control">
                        <dt class="tit">복용/섭취방법</dt>
                        <dd class="cont scroll" id="pillHowto"></dd>
                    </dl>
                    <dl class="form-control">
                        <dt class="tit">섭취시 주의사항</dt>
                        <dd class="cont scroll" id="intakePrecautions"></dd>
                    </dl>
                    <dl class="form-control">
                        <dt class="tit">약보관방법</dt>
                        <dd class="cont scroll" id="pillDeposit"></dd>
                    </dl>
                    <label class="form-control">
                        <span class="label-text">약 사진</span>
                        <input type="text" id="pillImage" name="pillImage" readonly>
                    </label>
                </div>
                <div class="btn-area">
                    <input type="hidden" id="modal-item-id">
                    <button id="btn-modify" class="btn btn-light" type="button">수정</button>
                    <button id="btn-check" class="btn btn-primary" type="button">확인</button>
                    <button id="btn-back" class="btn btn-light" type="button">취소</button>
                    <button id="btn-change-modify" class="btn btn-primary" type="button">적용</button>
                </div>
            </div>
        </div>
    </body>
</html>
