<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>관리자페이지</title>
        <link rel="stylesheet" th:href="@{/css/common/common.css}" />
        <link rel="stylesheet" th:href="@{/css/admin/admin.css}" />
        <script defer type="module" th:src="@{/js/admin/admin.js}"></script>
    </head>
    <body>
    <header th:replace="~{common/header/header_admin::admin-header}"></header>
        <div class="layout-sidenav">
            <h1 class="title">관리자 페이지</h1>
            <nav class="menu-nav">
                <ul>
                    <li><a th:href="@{/admin}">회원 관리</a></li>
                    <li><a th:href="@{/admin/pill}">약품 관리</a></li>
                    <li class="active"><a th:href="@{/admin/qna}">게시판 관리</a></li>
                </ul>
            </nav>
        </div>
        <div class="layout-content">
            <div class="tabs">
                <a class="item active" th:href="@{/admin/qna}">Q&A 게시판</a>
                <a class="item" th:href="@{/admin/review}">리뷰 게시판</a>
            </div>

            <div class="member-list-wrap">
                <form class="search-area" action="" method="get">
                    <select name="" id="">
                        <option value="">아이디</option>
                        <option value="">이름</option>
                    </select>
                    <label class="form-control">
                        <input type="text" placeholder="Search Member">
                    </label>
                    <button class="btn-normal btn-primary" type="button">찾기</button>
                </form>
                <div class="tbl-row">
                    <table>
                        <colgroup>
                            <col>
                            <col>
                            <col>
                            <col style="width: auto;">
                            <col>
                            <col style="width: 140px;">
                            <col style="width: 140px;" >
                            <col style="width: 100px;">
                        </colgroup>
                        <thead>
                            <tr>
                                <th>아이디</th>
                                <th>이름</th>
                                <th>성별</th>
                                <th>질문 내용</th>
                                <th>답변 확인</th>
                                <th>조회수</th>
                                <th>작성일</th>
                                <th>옵션</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <span>Test01</span>
                                </td>
                                <td>
                                    <span>홍길동</span>
                                </td>
                                <td>
                                    <span>남성</span>
                                </td>
                                <td>
                                    <span>불면증이 심해요</span>
                                </td>
                                <td>
                                    <span class="color-danger">미답변</span>
                                </td>
                                <td>
                                    <span>1</span>
                                </td>
                                <td>
                                    <span>2024/ 01/ 01</span>
                                </td>
                                <td>
                                    <div class="options">
                                        <button class="btn-sm btn-light-primary" type="button">option</button>
                                        <ul class="option-box">
                                            <li><a class="btn-open-modal" href="#">View</a></li> 
                                            <li><a href="#">Delete</a></li> 
                                        </ul>
                                    </div>
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <span>Test01</span>
                                </td>
                                <td>
                                    <span>홍길동</span>
                                </td>
                                <td>
                                    <span>남성</span>
                                </td>
                                <td>
                                    <span>불면증이 심해요</span>
                                </td>
                                <td>
                                    <span class="color-primary">답변</span>
                                </td>
                                <td>
                                    <span>1</span>
                                </td>
                                <td>
                                    <span>2024/ 01/ 01</span>
                                </td>
                                <td>
                                    <div class="options">
                                        <button class="btn-sm btn-light-primary" type="button">option</button>
                                        <ul class="option-box">
                                            <li><a class="btn-open-modal" href="#">View</a></li> 
                                            <li><a href="#">Delete</a></li> 
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="tb-footer-control">
                <ul class="pagination">
                    <li class="page-item disabled"><a class="page-link previous" href="#"></a></li>
                    <li class="page-item active"><a class="page-link " href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item"><a class="page-link" href="#">4</a></li>
                    <li class="page-item"><a class="page-link" href="#">5</a></li>
                    <li class="page-item"><a class="page-link next" href="#"></a></li>
                </ul>
                </div>
            </div>
        </div>
        <div class="modal-wrap">
            <div class="modal-header">
                <h3 class="title">Q&A</h3>
                <button onclick="closeModal();" class="btn-close" type="button">닫기</button>
            </div>
            <div class="modal-body">
                <div class="qna-info">
                    <div class="qna-card">
                        <span class="category-tag">기타</span>
                        <span class="user-info">
                            <span class="user-name">김영희</span>
                            <span class="user-agegender">20대 / 여</span>
                        </span>
                        <div class="qna-header">
                            <span class="title">불면증이 심해요</span>
                            <span class="cont">잠을 잘 들지 못하고 아침에 일어날때 힘들어요 최소 한시간은 누워있어야 잠듭니다 어깨목근육 뭉침, 편두통이 심해 수면제도 복용했었습니다  편하게 잠들고 싶어요 영양제좀 추천해주세요</span>
                        </div>
                        <div class="qna-body">
                            <span class="cont">근육이 자주 뭉쳐서 잠을 이루기 힘들다면 긴장 완화에 도움이 되는 마그네슘, 테아닌 등을 추천해요.</span>
                        </div>
                    </div>
                </div>
                <div class="btn-area">
                    <button id="btn-modify" class="btn btn-light" type="button">수정</button>
                    <button id="btn-check" onclick="closeModal();" class="btn btn-primary" type="button">확인</button>
                    <button id="btn-back" class="btn btn-light" type="button">취소</button>
                    <button id="btn-change-modify" class="btn btn-primary" type="button">적용</button>
                </div>
            </div>
        </div>
    </body>
</html>
