<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>관리자페이지</title>
        <link rel="stylesheet" th:href="@{/css/common/common.css}" />
        <link rel="stylesheet" th:href="@{/css/admin/admin.css}" />
        <script defer type="module" th:src="@{/js/admin/admin.js}"></script>
    </head>
    <body>
    <header th:replace="~{common/header/header_admin::admin-header}"></header>
        <div class="layout-sidenav">
            <h1 class="title">관리자 페이지</h1>
            <nav class="menu-nav">
                <ul>
                    <li><a th:href="@{/admin}">회원 관리</a></li>
                    <li><a th:href="@{/admin/pill}">약품 관리</a></li>
                    <li class="active"><a th:href="@{/admin/qna}">게시판 관리</a></li>
                </ul>
            </nav>
        </div>
        <div class="layout-content">
            <div class="tabs">
                <a class="item" th:href="@{/admin/qna}">Q&A 게시판</a>
                <a class="item active" th:href="@{/admin/review}">리뷰 게시판</a>
            </div>

            <div class="member-list-wrap">
                <form class="search-area" th:action="${'/admin/review'}" method="get">
                    <label>
                        <select name="keywordType">
                            <option value="COMPANY_NAME">회사명</option>
                            <option value="PILL_NAME">제품명</option>
                            <option value="POINT">별점</option>
                            <option value="LOGIN_ID">아이디</option>
                            <option value="NAME">이름</option>
                        </select>
                    </label>
                    <label class="form-control">
                        <input type="text" name="keyword" placeholder="Search Member">
                    </label>
                    <button class="btn-normal btn-primary" type="submit">찾기</button>
                </form>
                <div class="tbl-row">
                    <table>
                        <colgroup>
                            <col>
                            <col>
                            <col style="width: 80px;">
                            <col style="width: auto;">
                            <col style="width: 140px;">
                            <col style="width: 140px;">
                            <col style="width: 140px;" >
                            <col style="width: 80px;">
                        </colgroup>
                        <thead>
                            <tr>
                                <th>회사명</th>
                                <th>제품명</th>
                                <th class="center">별점</th>
                                <th>리뷰 내용</th>
                                <th>아이디</th>
                                <th>이름</th>
                                <th>작성일</th>
                                <th class="center">옵션</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="board : ${list}">
                                <td>
                                    <span th:text="${board.companyName}"></span>
                                </td>
                                <td>
                                    <span th:text="${board.pillName}"></span>
                                </td>
                                <td class="center">
                                    <span th:text="${board.point}"></span>
                                </td>
                                <td>
                                    <span class="content ellipsis" th:utext="${board.reviewContent}"></span>
                                </td>
                                <td>
                                    <span th:text="${board.loginId}"></span>
                                </td>
                                <td>
                                    <span th:text="${board.name}"></span>
                                </td>
                                <td>
                                    <span th:text="${board.createDate}"></span>
                                </td>
                                <td class="center">
                                    <div class="options">
                                        <button class="btn-sm btn-light-primary" type="button">option</button>
                                        <ul class="option-box">
                                            <li><a class="btn-open-modal" href="#" th:data-board-type="${reviewType}" th:data-review-id="${board.reviewId}" >View</a></li>
                                            <li><a class="btn-deleted" href="#" th:data-board-type="${reviewType}" th:data-review-id="${board.reviewId}">Delete</a></li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="tb-footer-control">
                    <ul class="pagination">
                        <li class="page-item" th:if="${pageSetDTO.prev}">
                            <a class="page-link previous"
                               th:href="${'/admin/review?page=' + (pageSetDTO.startPage - 1)}">
                            </a>
                        </li>

                        <li class="page-item"
                            th:classappend="${pageSetDTO.pageRequestDTO.page == i ? 'active' : ''}"
                            th:each="i : ${#numbers.sequence(pageSetDTO.startPage, pageSetDTO.endPage)}">
                            <a class="page-link"
                               th:href="${'/admin/review?page=' + i
                                   + (pageSetDTO.pageRequestDTO.keywordType != null && pageSetDTO.pageRequestDTO.keywordType != '' ? '&keywordType=' + pageSetDTO.pageRequestDTO.keywordType : '')
                                   + (pageSetDTO.pageRequestDTO.keyword != null && pageSetDTO.pageRequestDTO.keyword != '' ? '&keyword=' + pageSetDTO.pageRequestDTO.keyword : '')}"
                               th:text="${i}" >
                            </a>
                        </li>

                        <li class="page-item" th:if="${pageSetDTO.next}">
                            <a class="page-link next"
                               th:href="${'/admin/review?page=' + (pageSetDTO.endPage + 1)}">
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="modal-wrap">
            <div class="modal-header">
                <h3 class="title">Review</h3>
                <button class="btn-close modal-close" type="button">닫기</button>
            </div>
            <div class="modal-body">
                <div class="review-card">
                    <div class="card-header">
                        <div class="pill-info">
                            <div class="rating-box">
                                <!-- 평균점수 계산식 = (점수 - 1)/4*100 : width 값안에 적용 -->
                                <div class="rating-select" id="point"></div>
                            </div>
                            <div class="card-title">
                                <span class="company" id="companyName">회사이름</span>
                                <span class="product" id="pillName">제품명</span>
                            </div>
                        </div>
                        <div class="user-info">
                            <span class="user-name" id="name">김**</span>
                            <span class="user-agegender" id="ageGender">20대 / 여</span>
                        </div>
                    </div>
                    <div class="card-body">
                        <p class="review-txt" id="reviewContent">
                            타블렛이 싫은 분을 위한 비타민 투퍼데이는 첨부된 부가 성분을 최소화하고 비타민과 미네날을 충분히 함유하고그 성분도 활성화된 형태[비타민 B, D]나 특허받은 원료[아연, 셀레늄, 크롬]를 포함한 저렴한 가격의 좋은 품질을 지닌 비타민입니다. 
                            라이프익스텐션은 미국 내에서 미드 티어에서 조금 높은 순위를 가진보충제 회사로 평가 받고 있어 믿을 만한 회사이기도 합니다.
                            저는 평소에 타블렛을 이용하나가끔씩 캡슐을 복용하기도 합니다.
                            이론적으로는 캡슐이 타블렛 보다 흡수가 빠르다고 하는데[흡수율 자체에는 영향을 주지는 않음] 
                            개인적으로는 그리 큰 효과는 모르겠고타블릿을 삼키기 어려운 분들에는 대안이 될 수 있을 것입니다. 공복인 상태에서 먹게되면 간혹 어지럼증 속쓰림등의 증상이 있으니 주의하십시오
                        </p>
                    </div>
                </div>
                <div class="btn-area">
                    <button id="btn-check" class="btn btn-primary" type="button">확인</button>
                </div>
            </div>
        </div>
    </body>
</html>
