<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <aside class="main-menu" th:fragment="side-menu">
        <header class="top-area">
            <h1 class="title"><a href="index.html"><img th:src="@{/images/common/logo_gray.svg}" alt="" /></a></h1>
            <button class="btn-close" type="button"></button>
        </header>
        <nav class="menu-area">
            <ul>
                <li class="item"><a th:href="@{/pill/search-result}">일반약 검색</a></li>
                <li class="item"><a th:href="@{/pill/ingredient}">추천 리스트</a></li>
                <li class="item"><a th:href="@{/board/qna}">Q&A 게시판</a></li>
                <li class="item"><a th:href="@{/board/review}">리뷰 게시판</a></li>
            </ul>
        </nav>

    </aside>
</body>
</html>