<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Q&A Detail</title>
    <link rel="stylesheet" as="style" crossorigin href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css" />
    <link rel="stylesheet" th:href="@{/css/common/common.css}" />
    <link rel="stylesheet" th:href="@{/css/board/qna_detail.css}">
    <script defer th:src="@{/js/common/common.js}" ></script>
    <script defer th:src="@{/js/board/ration.js}" ></script>
</head>
<body>
    <div class="all-wrap">
        <header th:replace="~{common/header/header_common::main-header}"></header>
        <menu th:replace="~{common/menu/side_menu::side-menu}" ></menu>
        <main class="contents">
            <!-- 작업영역 -->
            <div class="inner">
                <div class="qna-detail-wrap" th:each="board : ${detail}">
                    <div class="title" th:text="${board.title}"></div>
                    <div class="title2" th:utext="${board.content}"></div>

                    <div class="line-210-1"></div>
                    <div class="row">
                        <div class="ci-date" th:text="${board.writeDate}"></div>
                        <span class="t1">작성자 : <span th:text="${board.name}"></span></span>
                        <span class="views">조회수 : <span th:text="${board.viewCount}"></span></span>
                    </div>
                </div>
                <a class="btn btn-answer" th:href="@{/board/answer(questionId=${param.questionId})}">답변하기</a>
            </div>


            <div class="inner">
                <div class="reply-qna-wrap"  th:each="board : ${detail}">
                    <div class="row1">
                        <img th:src="@{/images/common/img_female.png}" class="ci-img1" alt="약사 캐릭터 그림">
                        <div class="txt-wrap" >
                            <div class="t-txt1" th:text="${board.expertName} + ' ' + ${board.job} + 님"></div>
                                <div class="t-txt2" style="float: left;width:unset;margin: unset"
                                     th:text="${board.pharmacyAddress} + '&' + ${board.job}"></div>
                                <button id="btnArrow" class="p-arrow-down"></button>
                        </div>
                </div>

                <div class="qna-detail-wrap2">
                    <div class="title2 detail-read" >
                        <p th:utext="${board.answerContent}"></p>
                    </div>

                    <div class="line-210-1"></div>
                    <div class="row">
                        <div class="ci-date" th:text="${board.answerDate}"></div>
                    </div>
            </div>
            </div>
            </div>
            <!-- 작업영역 -->
        </main>
        <footer th:replace="~{common/footer/footer_common::main-fotter}"></footer>
    </div>
</body>
</html>