<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Q&A</title>
    <link rel="stylesheet" as="style" crossorigin href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css" />
    <link rel="stylesheet" th:href="@{/css/common/common.css}" />
    <link rel="stylesheet" th:href="@{/css/board/qna.css}">
    <script defer th:src="@{/js/common/common.js}" ></script>
    <script defer th:src="@{/js/board/ration.js}" ></script>

</head>
<body>
<div class="all-wrap">
    <header th:replace="~{common/header/header_common::main-header}"></header>
    <menu th:replace="~{common/menu/side_menu::side-menu}" ></menu>
    <main class="contents">
        <!-- 작업영역 -->
        <div class="inner">
            <div class="sub-header">
                <form th:action="@{/board/qna-list}" method="get">
                <h2 class="title">Q&A</h2>
                <span class="sub-txt">전문가가 직접 답해드려요!</span>
                <div class="search-area">
                    <input class="input-search" type="text" name="keyword" title="Q&A 검색어 입력" placeholder="무엇이 궁금하신가요?" >
                    <button class="btn-search" title="검색 버튼"></button>
                </div>
                </form>
                <a class="btn btn-primary" th:href="@{/board/qna-write}">질문 하기</a>
            </div>
            <div class="qna-container-wrap">
                <div class="qna-card" th:each="board : ${list}">
                    <a tabindex="0" class="qna-main" title="이 Q&amp;A의 상세정보 보기" th:href="@{/board/qna-detail(questionId=${board.questionId})}" >
                        <span class="txt1" th:utext="'<span class=\'qmark\'>Q.&nbsp; </span>' + ${board.title}"></span>
                        <span class="txt2" th:utext="${board.content}"></span>
                    </a>
                    <a tabindex="0" class="qna-user-wrap" title="이 Q&amp;A의 상세정보 보기" th:href="@{/board/qna-detail(questionId=${board.questionId})}">
                        <div class="qna-user-icon-1" th:if="${board.answerContent}"></div>
                        <div class="qna-user-txt" th:utext="${board.answerContent == null ? '' : board.answerContent}"></div>
                        <div class="user-info-row">
                            <span class="user-name" th:text="${board.name}"></span>
                            <span class="user-agesex" th:text="${board.age}+ '대 / ' +${board.gender == 'M' ? '남자' : '여자'}"></span>
                                <span class="img-icon" th:text="${board.hasImage == 1 ? ' / 사진 있음' : ''}"></span>
                                <span th:utext="${board.answerContent == null ? '' : ' / 답변완료'}"></span>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <!-- 작업영역 -->
    </main>
    <footer th:replace="~{common/footer/footer_common::main-fotter}"></footer>
</div>
</body>
</html>