<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Q&A</title>
    <link rel="stylesheet" as="style" crossorigin href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css" />
    <link rel="stylesheet" th:href="@{/css/common/common.css}" />
    <link rel="stylesheet" th:href="@{/css/board/qna.css}">
    <script defer th:src="@{/js/common/common.js}" ></script>
    <script defer th:src="@{/js/board/ration.js}" ></script>

</head>
<body>
<div class="all-wrap">
    <header th:replace="~{common/header/header_common::main-header}"></header>
    <menu th:replace="~{common/menu/side_menu::side-menu}" ></menu>
    <main class="contents">
        <!-- 작업영역 -->
        <div class="inner">
            <div class="sub-header">
                <form th:action="@{/board/qna-list}" method="get">
                <h2 class="title">Q&A</h2>
                <span class="sub-txt">전문가가 직접 답해드려요!</span>
                <div class="search-area">
                    <input class="input-search" type="text" name="keyword" title="Q&A 검색어 입력" placeholder="무엇이 궁금하신가요?" >
                    <button class="btn-search" title="검색 버튼"></button>
                </div>
                </form>
                <a class="btn btn-primary" th:href="@{/board/qna-write}">질문 하기</a>
            </div>
            <div class="qna-container-wrap">
                <div class="qna-card" th:each="board : ${list}">
                    <a tabindex="0" class="qna-main" title="이 Q&amp;A의 상세정보 보기" th:href="@{/board/qna-detail(questionId=${board.questionId})}" >
                        <span class="txt1" th:utext="'<span class=\'qmark\'>Q.&nbsp; </span>' + ${board.title}"></span>
                        <span class="txt2" th:utext="${board.content}"></span>
                    </a>
                    <a tabindex="0" class="qna-user-wrap" title="이 Q&amp;A의 상세정보 보기" th:href="@{/board/qna-detail(questionId=${board.questionId})}">
                        
                        <div class="qna-user-txt" th:text="${board.answerTitle}"><span class="qna-user-icon-1"></span></div>
                        <div class="user-info-row">
                            <span class="user-name" th:text="${board.name}"></span>
                            <span class="user-agesex" th:text="${board.age}+대+ ' / ' +${board.gender}"></span>
                                <span class="img-icon" >사진 없음</span>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <!-- 작업영역 -->
    </main>
    <footer class="main-footer">
        <div class="inner">
            <a href="#" class="logo"><img src="/images/common/logo_gray.svg" alt=""></a>
            <div class="footer-info">
                <!-- <ul class="priv">
                    <li><a href="#">이용약관</a></li>
                    <li><a href="#">개인정보처리방침</a></li>
                </ul> -->
                <p>주소: 06241 서울특별시 강남구 테헤란로0길 0, 000호 (역삼동) 대표번호: 0000-0000 (유선 상담 불가)</p>
                <p>ⓒ 2024 yakbang. All rights reserved</p>
                <p>본 사이트의 모든 콘텐츠 및 게시물에 대한 무단적인 수집, 전재, 복사, 배포를 엄격히 금합니다.</p>
            </div>
        </div>
    </footer>
</div>
</body>
</html>