<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Review</title>
    <link rel="stylesheet" th:href="@{/css/common/common.css}" />
    <link rel="stylesheet" th:href="@{/css/board/review_list.css}" />
    <script defer th:src="@{/js/common/common.js}" ></script>
    <script defer th:src="@{/js/board/ration.js}" ></script>
</head>
<body>
    <div class="all-wrap">
        <header th:replace="~{common/header/header_common::main-header}"></header>
        <menu th:replace="~{common/menu/side_menu::side-menu}" ></menu>

        <main class="contents">
        <!-- 작업영역 -->
        <div class="inner">
            <div class="sub-header">
                <h2 class="title">Review</h2>
                <span class="sub-txt">직접 먹어본 분들의 리뷰</span>
                <div class="search-area">
                    <input class="input-search" type="text" title="review 검색어 입력" placeholder="무엇이 궁금하신가요?" >
                    <button class="btn-search" title="검색 버튼"></button>
                </div>
                <a class="btn btn-primary" th:href="@{/review/write}">후기 작성</a>
            </div>
            <ul class="review-list type-oneline">
                <li class="review-card" th:each="dto : ${list}">
                    <div class="card-header">
                        <div class="pill-info">
                            <div class="rating-box">
                                <!-- 평균점수 계산식 = (점수 - 1)/4*100 : width 값안에 적용 -->
                                <div class="rating-select" th:style="'width:' + ${dto.point / 5.0 * 100} + '%'"></div>
                            </div>
                            <div class="card-title">
                                <span class="company" th:text="${dto.companyName}"></span>
                                <span class="product" th:text="${dto.pillName}"></span>
                            </div>
                        </div>
                        <div class="user-info">
                            <span class="user-name" th:text="${dto.name}"></span>
                            <span class="user-agegender" th:text="${dto.reviewAge} + '대 / ' + ${dto.reviewGender} "></span>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="review-txt ellipsis-line" th:utext="${dto.reviewContent}">
                        </div>
                    </div>
                </li>

            </ul>
        </div>
        </main>
        <footer class="main-footer">
        <div class="inner">
            <a href="#" class="logo"
            ><img src="../images/common/logo_gray.svg" alt=""
            /></a>
            <div class="footer-info">
            <!-- <ul class="priv">
                    <li><a href="#">이용약관</a></li>
                    <li><a href="#">개인정보처리방침</a></li>
                </ul> -->
            <p>
                주소: 06241 서울특별시 강남구 테헤란로0길 0, 000호 (역삼동)
                <br />대표번호: 0000-0000 (유선 상담 불가)
            </p>
            <p>ⓒ 2024 yakbang. All rights reserved</p>
            <p>
                본 사이트의 모든 콘텐츠 및 게시물에 대한 무단적인 수집, 전재,
                복사, 배포를 엄격히 금합니다.
            </p>
            </div>
        </div>
        </footer>
    </div>
</body>
</html>
