<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>작성 페이지</title>
    <link rel="stylesheet" th:href="@{/css/common/common.css}">
    <link rel="stylesheet" th:href="@{/css/board/write.css}">
    <link rel="stylesheet" href="https://uicdn.toast.com/editor/latest/toastui-editor.css" />
    <script src="https://uicdn.toast.com/editor/latest/toastui-editor-all.min.js"></script>
    <script defer th:src="@{/js/common/common.js}" ></script>
    <script defer th:src="@{/js/board/ration.js}" ></script>
</head>
<body>
<div class="all-wrap">
    <header class="main-header">
        <div class="inner">
            <button class="btn-menu" type="button" title="메인메뉴 열기"></button>
            <h1 class="header-logo"><a th:href="@{/}" title="yakbang 약방 : 홈"><img th:src="@{/images/common/logo.svg}" alt=""></a></h1>
            <div class="user-links">
                <a th:href="@{/} ">로그인</a>
                <a th:href="@{/member/join_page}">회원가입</a>
            </div>
        </div>
    </header>
    <aside class="main-menu" >
        <header class="top-area">
            <h1 class="title"><a href="index.html"><img th:src="@{/images/common/logo_gray.svg}" alt="" /></a></h1>
            <button class="btn-close" type="button"></button>
        </header>
        <nav class="menu-area">
            <ul>
                <li class="item"><a th:href="@{/pill/list}">일반약 검색</a></li>
                <li class="item"><a th:href="@{/pill/list}">추천 리스트</a></li>
                <li class="item"><a th:href="@{/board/qna-list}">Q&A 게시판</a></li>
                <li class="item"><a th:href="@{/board/review-list}">리뷰 게시판</a></li>
            </ul>
        </nav>
    </aside>
    <main class="contents">
        <!-- 작업영역 -->
        <div class="inner">
            <form class="form-write" action="">
                <div class="write-wrap">
                    <p class="text_required">* 필수</p>
                    <dl class="write-row">
                        <dt class="title required">분류</dt>
                        <dd class="content">
                            <label class="radio-box">
                                <input type="radio" name="fill" value="liquid" checked>
                                <span class="radio-text">액상형</span>
                            </label>
                            <label class="radio-box">
                                <input type="radio" name="fill" value="capsule" >
                                <span class="radio-text">캡슐형</span>
                            </label>
                            <span class="dropdown-box">
                                <select id="gender" name="gender" class="select-gender" >
                                    <option value="none">성별 선택하세요</option>
                                    <option value="F">여자</option>
                                    <option value="M">남자</option>
                                </select>
                            </span>
                            <span class="dropdown-box">
                                <select id="age" name="age" class="select-age"  >
                                    <option value="none">나이 선택하세요</option>
                                    <option value="10">10대</option>
                                    <option value="20">20대</option>
                                    <option value="30">30대</option>
                                    <option value="40">40대</option>
                                    <option value="50">50대</option>
                                    <option value="60">60대</option>
                                    <option value="70">70대</option>
                                </select>
                            </span>
                        </dd>
                    </dl>
                    <dl class="write-row">
                        <dt class="title required">리뷰 별점 </dt>
                        <dd class="content">
                            <div class="rating">
                                <label class="rating-label rating__label--full" for="star1">
                                    <input type="radio" id="star1" class="rating-input" name="rating" value="1">
                                    <span class="star-icon"></span>
                                </label>
                                <label class="rating-label rating__label--full" for="star2">
                                    <input type="radio" id="star2" class="rating-input" name="rating" value="2">
                                    <span class="star-icon"></span>
                                </label>
                                <label class="rating-label rating__label--full" for="star3">
                                    <input type="radio" id="star3" class="rating-input" name="rating" value="3">
                                    <span class="star-icon"></span>
                                </label>
                                <label class="rating-label rating__label--full" for="star4">
                                    <input type="radio" id="star4" class="rating-input" name="rating" value="4">
                                    <span class="star-icon"></span>
                                </label>
                                <label class="rating-label rating__label--full" for="star5">
                                    <input type="radio" id="star5" class="rating-input" name="rating" value="5">
                                    <span class="star-icon"></span>
                                </label>
                            </div>
                        </dd>
                    </dl>
                    <dl class="write-row">
                        <dt class="title required">복용약 이름</dt>
                        <dd class="content">
                            <div class="search-select-box">
                                <input id="searchInput" class="input-search" type="text" placeholder="약이름을 입력해주세요." autocomplete="off" />
                                <ul class="keyword-list">
                                    <!-- <li class="item">타이젠정(쎄라티오펩티다제)</li>
                                    <li class="item">타이펜정160밀리그람(아세트아미노펜)</li>
                                    <li class="item">태준팩타이트100밀리그람정(염산메칠시스테인)</li>
                                    <li class="item">타이펜8시간이알서방정</li>
                                    <li class="item">타이몰8시간이알정(아세트아미노펜)</li>
                                    <li class="item">타이리콜8시간이알서방정(아세트아미노펜)</li>
                                    <li class="item">타이코푸캡슐(수출용)</li>
                                    <li class="item">에피타이츄정</li>
                                    <li class="item">엔타이정0.5밀리그램(엔테카비르)</li> -->
                                </ul>
                            </div>
                        </dd>
                    </dl>
                    <dl class="write-row">
                        <dt class="title required">제목</dt>
                        <dd class="content">
                            <input class="input-box full" type="text" />
                        </dd>
                    </dl>
                    <dl class="write-row">
                        <dt class="title required">내용</dt>
                        <dd class="content">
                            <div class="textarea-box">
                                <div id="editor"></div>
                                <p class="count">
                                    <span>0</span> / 2000
                                </p>
                            </div>
                        </dd>
                    </dl>
                </div>
                <div class="btn-area">
                    <a class="btn btn-light" href="qna_detail.html">뒤로가기</a>
                    <button class="btn btn-primary" type="submit">작성 완료</button>
                </div>
            </form>
        </div>
        <!-- 작업영역 -->
    </main>
    <footer class="main-footer">
        <div class="inner">
            <a href="#" class="logo"><img th:src="@{/images/common/logo_gray.svg}" alt=""></a>
            <div class="footer-info">
                <p>주소: 06241 서울특별시 강남구 테헤란로0길 0, 000호 (역삼동) 대표번호: 0000-0000 (유선 상담 불가)</p>
                <p>ⓒ 2024 yakbang. All rights reserved</p>
                <p>본 사이트의 모든 콘텐츠 및 게시물에 대한 무단적인 수집, 전재, 복사, 배포를 엄격히 금합니다.</p>
            </div>
        </div>
    </footer>
</div>
</body>
</html>