/* 약 리스트 */

.pill-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin: 0 auto;
    width: 920px;
}

.moreBtn{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.load-more{
    width: 920px;
    background: #ffff;
    height: 52px;
    line-height: 50px;
    margin: 20px 0px 0px;
    border: 1px solid #E6E9ED;
    font-size: 18px;
    color: #787E8B;
    box-shadow: 0px 2px 10px rgba(70, 56, 147, 0.1);
    border-radius: 10px;
    cursor: pointer;
}

.pill-item {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
    width: calc(35% - 35px);
    height: 300px;
    color: #101219;
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
    border-radius: 20px;
    border: 1px solid #e6e9ed;
    background: #ffffff;
    box-shadow: 0px 2px 10px rgba(70, 56, 147, 0.1);
    .pill-img {
        width: 130px;
        height: auto;
        display: block;
        &.type1 {
            width: 80px;
        }
        &.type2 {
            width: 100px;
        }
        &.type3 {
            width: 50px;
        }
    }
    .info {
        padding: 30px;
        width: 100%;
    }
    .brand {
        font-size: 14px;
        font-weight: 500;
        color: #9ba1aa;
        overflow: hidden;
    }
    .pill-name {
        display: block;
        margin-top: 10px;
        color: #101219;
        font-size: 18px;
        font-weight: 700;
        line-height: 26px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }
    .review-score {
        display: flex;
        position: relative;
        margin-top: 10px;
        padding-left: 26px;
        height: 20px;
        color: #535968;
        font-size: 17px;
        font-weight: 700;
        line-height: 20px;
        &::before {
            position: absolute;
            left: 0;
            display: block;
            content: "";
            width: 20px;
            height: 20px;
            background: url("/images/common/ico_star_on.png") left 0 top 50%/16px
            no-repeat;
            filter: invert(66%) sepia(96%) saturate(485%) hue-rotate(360deg)
            brightness(170%) contrast(105%);
        }
    }
}

/* 약 디테일 */

.section-box {
    width: 100%;
    padding: 40px 40px;
    margin-top: 20px;
    background: #fff;
    border: 1px solid #e6e9ed;
    border-radius: 20px;
}

.pill-detail-info {
    display: flex;
    gap: 100px;
    padding: 0 60px;
    .pill-img {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 200px;
        height: 200px;
        img {
            width: 100%;
        }
    }
    .info {
        display: flex;
        flex-direction: column;
        gap: 12px;
        padding-top: 40px;
        .company-name {
            display: block;
            font-size: 16px;
            font-weight: 500;
            color: #a9a9a9;
            text-underline-position: under;
        }
        .product-name {
            font-weight: 700;
            font-size: 24px;
            line-height: 33px;
            display: block;
            color: #101219;
        }
        .shape-color {
            color: #535968;
            font-weight: 500;
        }
        .register-date {
            color: #535968;
            font-weight: 500;
        }
    }
}

/* 탭영역 */
.tabs {
    width: 100%;
    color: #c4c8ce;
    margin-top: 30px;
    justify-content: space-around;
    display: flex;
    font-weight: 500;
    font-size: 20px;
    line-height: 140%;
    border: 1px solid #e6e9ed;
    border-radius: 15px;
    background: white;
    cursor: pointer;
    .tab-link {
        padding: 15px 30px;
        cursor: pointer;
        font-weight: 600;
        flex: 1;
        text-align: center;
        border-right: 1px solid rgba(0, 0, 0, 0);
        border-radius: 15px;
        &.active {
            background-color: #dcf0ea;
            color: #16a87b;
        }
    }
}
.tab-content {
    display: none;

    .title-section {
        font-weight: 700;
        margin: 40px 0 30px 0;
        display: block;
        font-size: 20px;
        color: #101219;
        text-align: left;
    }

    .pill-effect {
        width: 100%;
        padding: 10px 40px 30px 40px;
        background: #fff;
        border: 1px solid #e6e9ed;
        border-radius: 20px;
        .title {
            text-align: left;
            font-weight: 700;
            display: block;
            font-size: 16px;
            color: #535968;
            margin: 20px 0px;
        }
    }

    .effect-tag {
        display: inline-block;
        float: left;
        margin-right: 10px;
        margin-bottom: 10px;
        border: 1px solid #d6d9e0;
        height: 30px;
        line-height: 28px;
        text-align: center;
        padding: 0px 15px;
        border-radius: 15px;
        color: #535968;
        font-weight: 500;
    }

    .show-more {
        margin-top: 80px;
        display: block;
        text-align: center;
        height: 52px;
        border-radius: 10px;
        background: #ececec;
        color: #7c7c7c;
        border: none;
        height: 52px;
        line-height: 52px;
        box-shadow: none;
        cursor: pointer;
    }

    .text-info {
        color: #101219;
        font-size: 18px;
        font-weight: 500;
        line-height: 24px;
        text-align: left;
    }

    .caution-method {
        display: flex;
        text-align: left;
        flex-direction: column;
    }

    .caution {
        font-size: 18px;
        font-weight: 500;
        color: #2c3f84;
        line-height: 24px;
    }

    .img-when {
        display: flex;
        align-items: center;
    }

    .when {
        margin: 0 40px 0 40px;
        font-size: 20px;
        font-weight: 700;
    }

    .adult {
        width: 70px;
        height: 70px;
    }

    .info-li {
        text-align: left;
        margin: 10px 5px;
    }

    /* 리뷰 영역 */
    .text-rv {
        font-weight: 700;
        margin: 10px 0 30px 0;
        display: block;
        font-size: 20px;
        color: #101219;
        text-align: left;
    }
    .review-cnt {
        color: #16a87b;
    }

    .sort-bar {
        position: relative;
        display: inline-block;
        left: 70%;
    }

    .sort-btn {
        background-color: #f7f7f7;
        color: rgb(109, 109, 109);
        padding: 15px;
        font-size: 16px;
        font-weight: 500;
        border: none;
        border-radius: 15px;
        cursor: pointer;
        width: 150px;
        text-align: left;
    }

    .sort-btn::after {
        content: "▼";
        float: right;
        margin-left: 10px;
    }

    .sort-content {
        display: none;
        position: absolute;
        background-color: #f7f7f7;
        min-width: 150px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        border-radius: 15px;
        z-index: 1;
    }

    .sort-content a {
        color: rgb(109, 109, 109);
        font-weight: 500;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

    .sort-content a:hover {
        background-color: #e9e9e9;
        border-radius: 15px;
    }

    .sort-bar:hover .sort-content {
        display: block;
    }

    .total-reviews {
        display: flex;
        margin-top: 50px;
    }
}

.total-grade-area {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    padding: 20px 0;
    border-radius: 20px;
    background-color: #f8f8fa;
    .item {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 112px;
        gap: 12px;
        &:first-child {
            flex-direction: column;
        }
        &:nth-child(2) {
            align-items: flex-end;
            gap: 30px;
        }
        &:not(:first-child) {
            border-left: 1px solid #e6e9ed;
        }
    }
    .rating {
        color: #303030;
        font-size: 40px;
    }
    .male-gauge,
    .female-gauge {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        position: relative;
        margin-bottom: 21px;
        height: 90px;
        background-repeat: no-repeat;
        background-position: center bottom;
        background-size: auto 90px;
        .num {
            display: flex;
            justify-content: center;
            position: absolute;
            left: 0;
            bottom: -21px;
            width: 100%;
            color: #303030;
            font-weight: 500;
        }
        .gauge {
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            background-repeat: no-repeat;
            background-position: center bottom;
            background-size: auto 90px;
        }
        &:not(.female-gauge) {
            width: 50px;
            background-image: url("/images/common/bg_male.svg");
            .num {
                color: #51c3c5;
            }
            .gauge {
                background-image: url("/images/common/bg_male_on.svg");
            }
        }
        &:not(.male-gauge) {
            width: 49px;
            background-image: url("/images/common/bg_female.svg");
            .num {
                color: #fcde50;
            }
            .gauge {
                background-image: url("/images/common/bg_female_on.svg");
            }
        }
    }
    .bar-graph {
        display: flex;
        gap: 10px;
        .bar-graph-one {
            position: relative;
            width: 30px;
            height: 122px;
            .bar-graph-mark {
                width: 42px;
                height: 19px;
                position: absolute;
                left: 0px;
                top: -2px;
                text-align: center;
                span {
                    display: none;
                    height: 19px;
                    line-height: 19px;
                    padding: 0px 4px;
                    background: #16a87b;
                    font-weight: 500;
                    font-size: 12px;
                    color: #fff;
                    border-radius: 5px;
                }
            }
            .bar-graph-bar {
                height: 8px;
                background: #16a87b;
                border-radius: 4px;
            }
            .bar-graph-bg {
                width: 69px;
                height: 8px;
                background: #e6e9ed;
                transform: rotate(-90deg);
                border-radius: 4px;
                margin-left: -13px;
                margin-top: 60px;
            }
            .bar-graph-txt {
                width: 100%;
                text-align: center;
                font-weight: 500;
                font-size: 14px;
                color: #c4c8ce;
                line-height: 1;
                margin-top: 40px;
                margin-left: 7px;
            }
            &.active {
                .bar-graph-mark span {
                    display: block;
                }
                .bar-graph-bar {
                    background: #16a87b;
                }
                .bar-graph-txt {
                    color: #16a87b;
                }
            }
        }
    }
}

/* 리뷰 리스트 */
.detail-info-area {
    margin-top: 20px;
    padding: 40px 0;
    border-top: 1px solid #e6e9ed;
    border-bottom: 1px solid #e6e9ed;
    .title {
        display: flex;
        align-items: center;
        padding: 0;
        width: 100%;
        color: #303030;
        font-size: 20px;
        font-weight: 700;
        text-align: left;
        border: 0;
        background: none;
        cursor: pointer;
        &::after {
            display: flex;
            margin-left: auto;
            content: "";
            width: 16px;
            height: 8px;
            background: url(https://cdn.pillyze.io/web/img/m-open.webp) center right
            no-repeat;
            background-size: 16px 8px;
            transition: all 0.5s;
        }
    }
    &.active .title::after {
        transform: rotate(180deg);
    }
    .acodian-box {
        overflow: hidden;
        display: block;
        margin-top: 0px;
        padding: 0 40px;
        height: 0;
        color: #303030;
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        text-align: left;
        word-wrap: break-word;
        word-break: break-all;
        border-radius: 20px;
        background-color: rgb(248, 248, 250);
        transition: margin-top 0.5s, padding 1.5s, height 1s;
    }
    &.active .acodian-box {
        margin-top: 20px;
        padding: 30px 40px;
        height: 180px;
        transition: margin-top 1s, padding 1s, height 1s;
    }
}
.review-content-wrap {
    margin: 50px 0px 0px;

    .user-agesex {
        font-weight: 500;
        font-size: 16px;
        line-height: 1;
        text-align: left;
        margin: 20px 0px 0px;
        color: #303030;
        display: block;
    }
    .review-info-row1 {
        margin: 11px 0px 0px;
        height: 13px;
    }
    .review-full-txt {
        font-weight: 500;
        display: block;
        font-size: 16px;
        color: #101219;
        line-height: 24px;
        text-align: left;
        margin: 30px 0px 0px;
    }

    .review-content {
        position: relative;
        padding: 0px 0px 60px;
        &:not(:first-child) {
            border-top: 1px solid #e6e9ed;
        }
        .date {
            position: absolute;
            right: 0;
            top: 20px;
            color: #303030;
        }
    }
}
