<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>아이디찾기</title>
  <link rel="stylesheet" th:href="@{/css/common/common.css}">
  <link rel="stylesheet" th:href="@{/css/member/find_id.css}">
  <script defer th:src="@{/js/common/common.js}"></script>
</head>
<body>
<div class="all-wrap">
  <header th:replace="~{common/header/header_common::main-header}"></header>
  <menu th:replace="~{common/menu/side_menu::side-menu}"></menu>
  <main class="contents">
    <div class="main-container">
      <div class="main-title-header">
        <a href="#" class="title-img"><img th:src="@{/images/common/logo.svg}" alt=""></a>
      </div>
      <div class="main-frame-body">
        <div class="frame-body-text1">
          <p class="body-text1">본인확인이 필요한 서비스입니다.</p>
        </div>
        <div class="frame-body-text2">
          <p class="body-text2">본인인증을 진행해주세요.</p>
        </div>
        <div class="certified-box-frame">
          <a href="#" class="certified-box">
            <span th:class="box-obj"></span>
            <p>간편 인증</p>
            <span th:class="box-obj2"></span>
          </a>
        </div>
        <div class="certified-box-frame">
          <a href="#" class="certified-box">
            <span th:class="box2-obj"></span>
            <p>휴대폰 인증</p>
            <span id="phone-certified" th:class="box-obj2"></span>
          </a>
        </div>
        <div class="certified-box-frame">
          <a href="#" class="certified-box">
            <span th:class="box3-obj"></span>
            <p>토스 인증</p>
            <span th:class="box-obj2"></span>
          </a>
        </div>
        <div class="bottom-text">
          <p class="body-text2">비밀번호를 찾으시나요?</p>
          <a th:href="@{/member/find_password}">비밀번호찾기</a>
        </div>
      </div>
    </div>
  </main>
  <footer th:replace="~{/common/footer/footer_common::main-fotter}"></footer>
</div>
</body>
</html>