<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>아이디찾기</title>
<link rel="stylesheet" th:href="@{/css/common/common.css}">
<link rel="stylesheet" th:href="@{/css/member/find_id.css}">
<script defer th:src="@{/js/common/common.js}" ></script>
</head>
<body>
<div class="all-wrap">
  <header class="main-header">
    <div class="inner">
      <button class="btn-menu" type="button" title="메인메뉴 열기"></button>
      <h1 class="header-logo"><a th:href="@{/admin/index.html}" title="yakbang 약방 : 홈"><img src="../images/common/logo.svg" alt=""></a></h1>
      <div class="user-links">
        <a href="login.html">로그인</a>
        <a href="join_page.html">회원가입</a>
      </div>
    </div>
  </header>
  <aside class="main-menu" >
    <header class="top-area">
      <h1 class="title"><a th:href="@{/admin/index.html}"><img th:src="@{/images/common/logo.svg}" alt="" /></a></h1>
      <button class="btn-close" type="button"></button>
    </header>
    <nav class="menu-area">
      <ul>
        <li class="item"><a href="pill_result.html">일반약 검색</a></li>
        <li class="item"><a href="pill_result.html">추천 리스트</a></li>
        <li class="item"><a href="qna-list.html">Q&A 게시판</a></li>
        <li class="item"><a href="review-list.html">리뷰 게시판</a></li>
      </ul>
    </nav>
  </aside>
  <main class="contents">
    <!-- 작업영역 -->
    <div class="main-container">
      <div class="main-tilte-heder">
        <a href="#" class="tilte-img"><img th:src="@{/images/common/logo_gray.svg}" alt=""></a>
      </div>
      <div class="main-frame-body">
        <div class="frame-body-text1">
          <p class="body-text1">본인확인이 필요한 서비스입니다.</p>
        </div>
        <div class="frame-body-text2">
          <p class="body-text2">본인인증을 진행해주세요.</p>
        </div>
        <div class="certified-box-frame">
          <a href="#" class="certified-box">
            <span class="box-obj"></span>
            <p>간편 인증</p>
            <span class="box-obj2"></span>
          </a>
        </div>
        <div class="certified-box-frame">
          <a href="#" class="certified-box">
            <span class="box2-obj"></span>
            <p>휴대폰 인증</p>
            <span id="phone-certified" class="box-obj2"></span>
          </a>
        </div>
        <div class="certified-box-frame">
          <a href="#" class="certified-box">
            <span class="box3-obj"></span>
            <p>토스 인증</p>
            <span class="box-obj2"></span>
          </a>
        </div>
        <div class="bottom-text">
          <p class="body-text2">비밀번호를 찾으시나요?</p>
          <a th:href="@{/find_password.html}">비밀번호찾기</a>
        </div>
      </div>
    </div>
    <!-- 작업영역 -->
  </main>
  <footer class="main-footer">
    <div class="inner">
      <a href="#" class="logo"><img th:src="@{/images/common/logo_gray.svg}" alt=""></a>
      <div class="footer-info">
        <!-- <ul class="priv">
            <li><a href="#">이용약관</a></li>
            <li><a href="#">개인정보처리방침</a></li>
        </ul> -->
        <p>주소: 06241 서울특별시 강남구 테헤란로0길 0, 000호 (역삼동) 대표번호: 0000-0000 (유선 상담 불가)</p>
        <p>ⓒ 2024 yakbang. All rights reserved</p>
        <p>본 사이트의 모든 콘텐츠 및 게시물에 대한 무단적인 수집, 전재, 복사, 배포를 엄격히 금합니다.</p>
      </div>
    </div>
  </footer>
</div>
</body>
</html>