<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>회원가입</title>
    <link rel="stylesheet" as="style" crossorigin href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css"/>
    <link rel="stylesheet" th:href="@{/css/common/common.css}" />
    <link rel="stylesheet" th:href="@{/css/member/join.css}" />
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script defer th:src="@{/js/common/common.js}"></script>
    <script defer th:src="@{/js/member/join.js}"></script>
  </head>
  <body>
    <div class="all-wrap">
      <header th:replace="~{common/header/header_common::main-header}"></header>
      <menu th:replace="~{common/menu/side_menu::side-menu}" ></menu>
      <main class="contents">
        <!-- 작업영역 -->
        <div class="inner">
          <h3 class="join-title">
            <img th:src="@{/images/common/logo.svg}" alt="" />
          </h3>
          <div class="join-base">
            <form th:action="@{/member/join}" method="post" class="join-form">
              <div class="join-checked">
                <label class="input-check">
                  <input type="checkbox" id="managerBtn" name="check" onclick="joinManagerBtn()"/>
                  <span class="input-text">전문가 체크</span>
                </label>
              </div>
              <div class="join-item">
                <label class="title" for="id">아이디</label>
                <div class="join-type">
                  <input type="text" id="id" name="loginId" class="join-text" placeholder="4~20자리/영문,숫자,특수문자'_'사용가능" required/>
                </div>
                <em class="join-msg" id="idCheckMsg1">
                  <span class="join-important"></span>
                </em>
              </div>
              <div class="join-item">
                <label class="title" for="password">비밀번호</label>
                <div class="join-type">
                  <input type="password" name="password" id="password" class="join-text" placeholder="4~16자리 입력" required/>
                </div>
                <em class="join-msg" id="idCheckMsg2">
                  <span class="join-important"></span>
                </em>
              </div>
              <div class="join-item">
                <label class="title" for="name">이름</label>
                <div class="join-type">
                  <input type="text" id="name" name="name" class="join-text" placeholder="이름 입력" required/>
                </div>
                <em class="join-msg" id="idCheckMsg3">
                  <span class="join-important" id="name-error-msg"></span>
                </em>
              </div>
              <div class="join-item">
                <label class="title" for="birth">생년월일</label>
                <div class="join-type">
                  <input type="text" id="birth" name="birth" class="join-text" placeholder="YYYYMMDD" required/>
                </div>
                <em class="join-msg" id="idCheckMsg5">
                  <span class="join-important" id="birth-error-msg"></span>
                </em>
              </div>
              <div class="join-item">
                <strong class="title">성별</strong>
                <div class="gender-area">
                  <label class="gender-check">
                    <input type="radio" name="gender" value="M" />
                    <span class="gender">남자</span>
                  </label>
                  <label class="gender-check">
                    <input type="radio" name="gender" value="F" />
                    <span class="gender">여자</span>
                  </label>
                </div>
              </div>
              <div class="join-item">
                <label class="title" for="phone">전화번호</label>
                <div class="join-type">
                  <input type="text" id="phone" name="phoneNumber" class="join-text" placeholder="전화번호 입력" required/>
                </div>
                <em class="join-msg" id="idCheckMsg4">
                  <span class="join-important" id="phone-error-msg"></span>
                </em>
              </div>
              <div class="join-item">
                <label class="title" for="email">이메일</label>
                <div class="join-type">
                  <input type="email" name="email" id="email" class="join-text" placeholder="email@yakbang.com" required/>
                </div>
                <em class="join-msg" id="idCheckMsg6">
                  <span class="join-important" id="email-error-msg"></span>
                </em>
              </div>

              <!--전문가 부분-->
              <div id="manager-input" class="join-manager" style="display: none">
                <div class="join-item">
                  <label class="title" for="job">직업</label>
                  <div class="join-type">
                    <input type="text" id="job" name="job" class="join-text" placeholder="직업 입력"/>
                  </div>
                  <em class="join-msg" id="idCheckMsg7">
                    <span class="join-important" id="job-error-msg"></span>
                  </em>
                </div>
                <div class="join-item">
                  <label for="address" class="title mng-gap">약국 주소</label>
                  <button class="btn-addr" type="button"  id="mng-addr-btn">
                    주소 찾기
                  </button>
                  <div class="join-type">
                    <input type="text" id="address" name="pharmacyAddress" class="join-text" />
                  </div>
                </div>
              </div>
              <!--전문가 부분-->
              <div class="join-btn-box">
                <button class="btn-big btn-primary" id="join-button" type="submit" disabled>
                  회원가입 완료
                </button>
              </div>
            </form>
          </div>
        </div>
        <!-- 작업영역 -->
      </main>
      <footer th:replace="~{common/footer/footer_common::main-fotter}"></footer>
    </div>
  </body>
</html>
