<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>마이페이지상세</title>
    <link rel="stylesheet" th:href="@{/css/common/common.css}">
    <link rel="stylesheet" th:href="@{/css/member/mypage.css}">
    <script defer th:src="@{/js/common/common.js}" ></script>
    <script defer th:src="@{/js/member/delete.js}" ></script>
</head>
<body>
<div class="all-wrap">
    <header th:replace="~{common/header/header_common::main-header}"></header>
    <menu th:replace="~{common/menu/side_menu::side-menu}" ></menu>
    <main class="contents">
        <!-- 작업영역 -->
        <div class="inner">
            <h1 class="mypage-title">마이페이지</h1>
            <form th:action="@{/member/mypage-modify}" method="post">
                <div class="mypage-header">
                <h3 class="title">회원 정보</h3>
                <a th:href="@{/member/mypage}" class="btn-normal btn-over-primary">수정 완료</a>
                </div>
                <div class="mypage-body">
                    <ul class="info-list">
                        <li class="item">
                            <div class="info-key">아이디</div>
                            <div class="info-value"><input class="input-text" type="text" th:value="${memberDTO.loginId}" readonly></div>
                        </li>
                        <li class="item">
                            <div class="info-key">이름</div>
                            <div class="info-value"><input class="input-text" type="text" th:value="${memberDTO.name}" ></div>
                        </li>
                        <li class="item">
                            <div class="info-key">생년월일</div>
                            <div class="info-value" ><input type="date" th:value="${memberDTO.birth}"></div>
                        </li>
                        <li class="item">
                            <div class="info-key">전화번호</div>
                            <div class="info-value"><input class="input-text" type="text" th:value="${memberDTO.phoneNumber}"></div>
                        </li>
                        <li class="item">
                            <div class="info-key">이메일</div>
                            <div class="info-value"><input class="input-text" type="text" th:value="${memberDTO.email}"></div>
                        </li>
                    </ul>
                    <div class="info-btns">
                        <!-- <p class="info-txt">
                            문의가 필요하다면
                            <a class="link" href="">고객센터</a>
                        </p> -->
                        <p class="info-txt">
                            이용을 중단하려면
                            <a class="btn-open-modal" >회원탈퇴</a>
                        </p>
                    </div>
                </div>
            </form>
        </div>
        <div id="myModal" class="mw">
            <div class="mb">
                <div class="modal-h"><button class="btn-close" type="button" onclick="closeModal()">닫기</button></div>
                <h3 class="title">회원탈퇴</h3>
                <div id="modal-in" class="mi">
                    <dl class="form-control">
                        <dt class="tit">회원탈퇴 시 계정 정보 및 보유중인 <br>포인트와 쿠폰은 삭제되며 복구가 되지 않습니다.</dt>
                    </dl>
                    <dl class="form-control">
                        <dt class="tit">정말로 탈퇴하시겠어요?</dt>
                    </dl>
                </div>

                <div id="completionMessage" style="display: none;">
                    <dl class="fc">
                        <dt>회원탈퇴가 완료되었습니다.</dt>
                    </dl>
                </div>
                <div class="ba">
                    <button id="btn-modify" class="btn btn-light" type="button" onclick="completeWithdrawal()"><a th:href="@{/member/leave}">탈퇴하기</a></button>
                    <button id="btn-check" onclick="closeModal()" class="btn btn-primary" type="button">돌아가기</button>
                </div>
            </div>
        </div>
        <!-- 작업영역 -->
    </main>
    <footer th:replace="~{common/footer/footer_common::main-fotter}"></footer>
</div>
</body>
</html>