<!DOCTYPE html>
<html lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>마이페이지</title>
    <link rel="stylesheet" th:href="@{/css/common/common.css}" />
    <link rel="stylesheet" th:href="@{/css/member/mypage.css}" />
    <script defer th:src="@{/js/common/common.js}" ></script>
</head>
<body>
<div class="all-wrap">
    <header class="main-header">
        <div class="inner">
            <button class="btn-menu" type="button" title="메인메뉴 열기"></button>
            <h1 class="header-logo">
                <a th:href="@{/}" title="yakbang 약방 : 홈">
                    <img th:src="@{/images/common/logo.svg}" alt="">
                </a>
            </h1>
            <div class="user-links">
                <a th:href="@{/member/login}">로그인</a>
                <a th:href="@{/member/join}">회원가입</a>
            </div>
        </div>
    </header>
    <aside class="main-menu" >
        <header class="top-area">
            <h1 class="title"><a th:href="@{/}"><img th:src="@{/images/common/logo_gray.svg}" alt="" /></a></h1>
            <button class="btn-close" type="button"></button>
        </header>
        <nav class="menu-area">
            <ul>
                <li class="item"><a th:href="@{/board/pill_result}">일반약 검색</a></li>
                <li class="item"><a th:href="@{/board/pill_result}">추천 리스트</a></li>
                <li class="item"><a th:href="@{/board/qna_list}">Q&A 게시판</a></li>
                <li class="item"><a th:href="@{/board/review_list}">리뷰 게시판</a></li>
            </ul>
        </nav>
    </aside>
    <main class="contents">
        <!-- 작업영역 -->
        <div class="inner">
            <h1 class="mypage-title">마이페이지</h1>
            <div class="mypage-header">
                <h3 class="title">회원 정보</h3>
                <a th:href="@{/member/mypage-modify}" class="btn-normal btn-grayline-gray">정보 수정</a>
            </div>
            <div class="mypage-body">
                <ul class="info-list">
                    <li class="item">
                        <div class="info-key">아이디</div>
                        <div class="info-value">test01</div>
                    </li>
                    <li class="item">
                        <div class="info-key">이름</div>
                        <div class="info-value">홍길동</div>
                    </li>
                    <li class="item">
                        <div class="info-key">생년월일</div>
                        <div class="info-value">0000년 00월 00일</div>
                    </li>
                    <li class="item">
                        <div class="info-key">전화번호</div>
                        <div class="info-value">000-0000-0000</div>
                    </li>
                    <li class="item">
                        <div class="info-key">이메일</div>
                        <div class="info-value">test@test.com</div>
                    </li>
                </ul>
                <div class="info-btns">
                    <!-- <p class="info-txt">
                        문의가 필요하다면
                        <a class="link" href="">고객센터</a>
                    </p> -->
                    <p class="info-txt">
                        이용을 중단하려면
                        <a class="link" href="">회원탈퇴</a>
                    </p>
                </div>
            </div>
        </div>
        <!-- 작업영역 -->
    </main>
    <footer class="main-footer">
        <div class="inner">
            <a th:href="@{#}" class="logo"><img th:src="@{/images/common/logo_gray.svg}" alt=""></a>
            <div class="footer-info">
                <!-- <ul class="priv">
                    <li><a href="#">이용약관</a></li>
                    <li><a href="#">개인정보처리방침</a></li>
                </ul> -->
                <p>주소: 06241 서울특별시 강남구 테헤란로0길 0, 000호 (역삼동) 대표번호: 0000-0000 (유선 상담 불가)</p>
                <p>ⓒ 2024 yakbang. All rights reserved</p>
                <p>본 사이트의 모든 콘텐츠 및 게시물에 대한 무단적인 수집, 전재, 복사, 배포를 엄격히 금합니다.</p>
            </div>
        </div>
    </footer>
</div>
</body>
</html>