<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>약 상세</title>
<link rel="stylesheet" th:href="@{/css/common/common.css}" />
<link rel="stylesheet" th:href="@{/css/pill/pill.css}" />
<script defer th:src="@{/js/common/common.js}"></script>
<script defer th:src="@{/js/pill/detail.js}"></script>

</head>
<body>
<div class="all-wrap">
    <header class="main-header">
        <div class="inner">
            <button class="btn-menu" type="button" title="메인메뉴 열기"></button>
            <h1 class="header-logo"><a th:href="@{/}" title="yakbang 약방 : 홈"><img th:src="@{/images/common/logo.svg}"
                                                                                  alt=""></a></h1>
            <div class="user-links">
                <a th:href="@{/} ">로그인</a>
                <a th:href="@{/member/join_page}">회원가입</a>
            </div>
        </div>
    </header>
    <aside class="main-menu">
        <header class="top-area">
            <h1 class="title"><a th:href="@{/}"><img th:src="@{/images/common/logo_gray.svg}" alt=""/></a></h1>
            <button class="btn-close" type="button"></button>
        </header>
        <nav class="menu-area">
            <ul>
                <li class="item"><a th:href="@{/pill/list}">일반약 검색</a></li>
                <li class="item"><a th:href="@{/pill/list}">추천 리스트</a></li>
                <li class="item"><a th:href="@{/board/qna-list}">Q&A 게시판</a></li>
                <li class="item"><a th:href="@{/board/review-list}">리뷰 게시판</a></li>
            </ul>
        </nav>
    </aside>
    <main class="contents">
        <!-- 작업영역 -->
        <div class="inner">
            <div class="detail-section">
                <div class="section-box">
                    <div class="pill-detail-info">
                        <div class="pill-img">
                            <!-- 약품 이미지 표시 -->
                            <img th:if="${pill.pillImage} != null" th:src="@{${pill.pillImage}}" alt="Pill Image"/>
                            <img th:src="${pill.pillImage != null ? pill.pillImage : '/images/common/img_pill_03.png'}" alt="Image" style="width: 70px">
                        </div>
                        <div class="info">
                            <div class="company-name" th:text="${pill.companyName}">브랜드</div>
                            <h1 class="product-name" th:text="${pill.pillName}">약 이름</h1>

                            <dl class="shape-color" th:if="${pill.pillShape != null or pill.pillColor != null}">
                                <dt>형태 및 색</dt>
                                <dd th:text="${pill.pillShape != null ? pill.pillShape : ''} + (${pill.pillShape != null and pill.pillColor != null ? ' / ' : ''}) + ${pill.pillColor != null ? pill.pillColor : ''}">
                                    형태 / 색상
                                </dd>
                            </dl>


                            <dl class="register-date" id="dateContainer">
                                <dt>등록일</dt>
                                <dd th:text="${pill.openDate}">등록일</dd>
                            </dl>
                        </div>
                    </div>

                    <div class="total-grade-area">
                        <div class="item">
                            <span class="rating">0.0</span>
                            <div class="rating-box">
                                <div class="rating-select" style="width:calc((4.61 - 1) / 4 * 100%)"></div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="male-gauge">
                                <div class="gauge" style="height: 0%"></div>
                                <span class="num">0%</span>
                            </div>
                            <div class="female-gauge">
                                <div class="gauge" style="height: 0%"></div>
                                <span class="num">0%</span>
                            </div>
                        </div>


                        <div class="item">
                            <div class="bar-graph">
                                <div class="bar-graph-one" data-agegroup="10대">
                                    <div class="bar-graph-mark"><span>0</span></div>
                                    <div class="clearfix">
                                        <div class="bar-graph-bg">
                                            <div class="bar-graph-bar" style="width:0%"></div>
                                        </div>
                                    </div>
                                    <div class="bar-graph-txt">10대</div>
                                </div>
                                <div class="bar-graph-one" data-agegroup="20대">
                                    <div class="bar-graph-mark"><span>0</span></div>
                                    <div class="clearfix">
                                        <div class="bar-graph-bg">
                                            <div class="bar-graph-bar" style="width:0%"></div>
                                        </div>
                                    </div>
                                    <div class="bar-graph-txt">20대</div>
                                </div>
                                <div class="bar-graph-one" data-agegroup="30대">
                                    <div class="bar-graph-mark"><span>0</span></div>
                                    <div class="clearfix">
                                        <div class="bar-graph-bg">
                                            <div class="bar-graph-bar" style="width:0%"></div>
                                        </div>
                                    </div>
                                    <div class="bar-graph-txt">30대</div>
                                </div>
                                <div class="bar-graph-one" data-agegroup="40대">
                                    <div class="bar-graph-mark"><span>0</span></div>
                                    <div class="clearfix">
                                        <div class="bar-graph-bg">
                                            <div class="bar-graph-bar" style="width:0%"></div>
                                        </div>
                                    </div>
                                    <div class="bar-graph-txt">40대</div>
                                </div>
                                <div class="bar-graph-one" data-agegroup="50대">
                                    <div class="bar-graph-mark"><span>0</span></div>
                                    <div class="clearfix">
                                        <div class="bar-graph-bg">
                                            <div class="bar-graph-bar" style="width:0%"></div>
                                        </div>
                                    </div>
                                    <div class="bar-graph-txt">50대</div>
                                </div>
                                <div class="bar-graph-one" data-agegroup="60대">
                                    <div class="bar-graph-mark"><span>0</span></div>
                                    <div class="clearfix">
                                        <div class="bar-graph-bg">
                                            <div class="bar-graph-bar" style="width:0%"></div>
                                        </div>
                                    </div>
                                    <div class="bar-graph-txt">60대</div>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>

            <div class="tabs">
                <div class="tab-link">상세 정보</div>
                <div class="tab-link"><span class="review-cnt"></span></div>
            </div>

            <!-- 상세 정보 -->
            <div class="tab-content">
                <div class="detail-section">
                    <h2 class="title-section">약 효능</h2>
                    <div class="section-box">
                        <div class="caution-method">
                            <p class="text-info" th:text="${pill.detailContent}"></p>
                        </div>
                    </div>
<!--                    <div class="pill-effect">-->
<!--                        <h3 class="title">주요 기능</h3>-->
<!--                        <div class="effect-tag">두통</div>-->
<!--                        <div class="effect-tag">발열</div>-->
<!--                        <div class="effect-tag">근육통</div>-->
<!--                        <div class="show-more">-->
<!--                            <a href="#" class="show-more">더 보기</a>-->
<!--                        </div>-->
<!--                    </div>-->
                </div>
                <div class="detail-section">
                    <h2 class="title-section">복용 방법</h2>
                    <div class="section-box">
                        <div class="img-when">
                            <img class="adult" th:src="@{/images/common/adult-img.png}" alt="adult"/>
                            <p class="when" th:text="${pill.pillHowto}"></p>
                        </div>
                    </div>
                    <h2 class="title-section">섭취 시 주의사항</h2>
                    <div class="section-box">
                        <div class="caution-method">
                            <p class="text-info" th:text="${pill.atpnQesitm}"></p>
                        </div>
                    </div>

<!--                    <div class="section-box" >-->
<!--                        <div class="caution-method">-->
<!--                            <p class="text-info" th:if="${pill.intakePrecautions != null}" th:text="${pill.intakePrecautions}"></p>-->
<!--                            <p class="text-info" th:unless="${pill.intakePrecautions != null}">추가 주의사항이 없습니다.</p>-->
<!--                        </div>-->
<!--                    </div>-->

                    <div class="section-box" th:if="${pill.intakePrecautions != null}">
                        <div class="caution-method">
                            <p class="text-info"  th:text="${pill.intakePrecautions}"></p>
                        </div>
                    </div>

                    <h2 class="title-section">복용 시 주의해야 할 약 · 음식</h2>
                    <div class="section-box">
                        <p class="text-info" th:if="${pill.intrcQesitm != null}" th:text="${pill.intrcQesitm}"></p>
                        <p class="text-info" th:unless="${pill.intrcQesitm != null}">등록된 정보가 없습니다.</p>
                    </div>
                    <h2 class="title-section">부작용</h2>
                    <div class="section-box">
                        <div class="caution">
<!--                            <p class="text-info" th:text="${pill.seQesitm}"></p>-->
                            <p class="text-info" th:if="${pill.seQesitm != null}" th:text="${pill.seQesitm}"></p>
                            <p class="text-info" th:unless="${pill.seQesitm != null}">등록된 정보가 없습니다.</p>
                        </div>
                    </div>

                    <div class="detail-section">
                        <h2 class="title-section">보관 방법</h2>
                        <div class="section-box">
                            <p class="text-info" th:text="${pill.pillDeposit}"></p>
                        </div>
                    </div>
                </div>
            </div>

            <!-- 리뷰 영역 -->
            <div class="tab-content">
                <h2 class="title-section">의약품 리뷰</h2>
                <div class="detail-section">
                    <div class="section-box" style="padding: 20px 40px;">
                        <div class="total-reviews">
                                <h2 class="text-rv">리뷰</h2>
                            <div class="sort-bar">
                                <button class="sort-btn">별점 높은 순</button>
                                <div class="sort-content">
                                    <a href="#">별점 높은 순</a>
                                    <a href="#">별점 낮은 순</a>
                                    <a href="#">최신 순</a>
                                </div>
                            </div>
                        </div>
                        <div class="review-content-wrap">

                        </div>
                        <ul id="data-container" class="review-content-wrap">

<!--                            <li class="review-content">-->
<!--                                <span class="user-agesex">40대 / 남</span>-->
<!--                                <div class="review-info-row1">-->
<!--                                    <div class="rating-box">-->
<!--                                        &lt;!&ndash; 평균점수 계산식 = (점수 - 1)/4*100 : width 값안에 적용 &ndash;&gt;-->
<!--                                        <div class="rating-select" style="width:100%"></div>-->
<!--                                    </div>-->
<!--                                    <span class="date">2023/03/12</span>-->
<!--                                </div>-->
<!--                                <p class="review-full-txt">코큐텐이 좋다고 해서 구매 후 복용했는데 먹기편하게 되어 있는건 좋았음</p>-->
<!--                                <p class="review-full-txt">먹은지 한달정도 후에 피부에 두드러기같은게 생김 처음엔 이것 때문인지 몰라 이것저것 병원도 가고 약도 먹고-->
<!--                                    해도 원인인 몰랐음 그래서 모든것을 다 끊고 기본으로 돌아가니 증상이 없어졌고 하나씩 조심히먹으며 원인을 찾던 도중 이거 먹고 20일쯤 지나니 증상이-->
<!--                                    다시시작됨 혹시나 싶어 이거 끊었더니 증상이 더 발전안되고 서서히 줄어드는중이라서 이거 때문임을 확신함</p>-->
<!--                            </li>-->

                        </ul>
                        <div class="moreBtn">
                            <button class="load-more" id="load-more" data-page="1">10개 더 보기</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- 작업영역 -->
    </main>
    <footer class="main-footer">
        <div class="inner">
            <a href="#" class="logo"><img th:src="@{/images/common/logo_gray.svg}" alt=""></a>
            <div class="footer-info">
                <!-- <ul class="priv">
                    <li><a href="#">이용약관</a></li>
                    <li><a href="#">개인정보처리방침</a></li>
                </ul> -->
                <p>주소: 06241 서울특별시 강남구 테헤란로0길 0, 000호 (역삼동) 대표번호: 0000-0000 (유선 상담 불가)</p>
                <p>ⓒ 2024 yakbang. All rights reserved</p>
                <p>본 사이트의 모든 콘텐츠 및 게시물에 대한 무단적인 수집, 전재, 복사, 배포를 엄격히 금합니다.</p>
            </div>
        </div>
    </footer>
</div>
</body>
</html>