<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.yakbang.mapper.admin.AdminBoardMapper">
    <select id="selectQnaInfo">
        SELECT Q.QUESTION_ID, Q.MEMBER_ID, Q.TITLE, Q.CONTENT, Q.VIEW_COUNT, Q.WRITE_DATE, M.LOGIN_ID, M.NAME, M.GENDER,
        FLOOR(MONTHS_BETWEEN(SYSDATE, M.BIRTH) / 120) * 10 AS AGE, A.ANSWER_NO, A.ANSWER_CONTENT
        FROM TBL_QA Q
        JOIN TBL_MEMBER M ON Q.MEMBER_ID = M.MEMBER_ID
        LEFT JOIN TBL_ANSWER A ON Q.QUESTION_ID = A.QUESTION_ID
        WHERE Q.QUESTION_ID = #{questionId}
    </select>

    <select id="selectQnaList">
        SELECT  QUESTION_ID, MEMBER_ID, TITLE, VIEW_COUNT, WRITE_DATE, LOGIN_ID, NAME, GENDER, AGE, ANSWER_NO
        FROM(
            SELECT ROWNUM AS RNUM , QUESTION_ID, MEMBER_ID, TITLE, VIEW_COUNT, WRITE_DATE, LOGIN_ID,  NAME, GENDER, AGE, ANSWER_NO
            FROM (
                SELECT Q.QUESTION_ID, Q.MEMBER_ID, Q.TITLE, Q.VIEW_COUNT, Q.WRITE_DATE, M.LOGIN_ID, M.NAME, M.GENDER,
                FLOOR(MONTHS_BETWEEN(SYSDATE, M.BIRTH) / 120) * 10 AS AGE, A.ANSWER_NO
                FROM TBL_QA Q
                JOIN TBL_MEMBER M ON Q.MEMBER_ID = M.MEMBER_ID
                LEFT JOIN TBL_ANSWER A ON Q.QUESTION_ID = A.QUESTION_ID
                <if test="keyword != null and keyword != ''">
                WHERE ${keywordType} LIKE '%' || #{keyword} || '%'
                </if>
                ORDER BY Q.QUESTION_ID DESC
            )
            <![CDATA[
            WHERE ROWNUM <= #{page} * #{amount}
            ]]>
        )
        <![CDATA[
        WHERE RNUM > (#{page} - 1) * #{amount}
        ]]>
    </select>

    <select id="qnaTotal">
        SELECT COUNT(Q.QUESTION_ID)
        FROM TBL_QA Q
        JOIN TBL_MEMBER M ON Q.MEMBER_ID = M.MEMBER_ID
        LEFT JOIN TBL_ANSWER A ON Q.QUESTION_ID = A.QUESTION_ID
        <if test="keywordType != null and keywordType != ''">
            WHERE ${keywordType} LIKE '%' || #{keyword} || '%'
        </if>
    </select>

    <delete id="deleteQna">
        DELETE FROM TBL_QA
        WHERE QUESTION_ID = #{questionId}
    </delete>

    <select id="selectReviewList">
        SELECT  REVIEW_ID, PILL_ID, MEMBER_ID, POINT, CREATE_DATE, MODIFIED_DATE, REVIEW_CONTENT,
                COMPANY_NAME, PILL_NAME, LOGIN_ID ,NAME
        FROM(
            SELECT ROWNUM AS RNUM, REVIEW_ID, PILL_ID, MEMBER_ID, POINT, CREATE_DATE, MODIFIED_DATE, REVIEW_CONTENT,
                                COMPANY_NAME, PILL_NAME,
                                LOGIN_ID ,NAME
            FROM (
                SELECT R.REVIEW_ID, R.PILL_ID, R.MEMBER_ID, R.POINT, R.CREATE_DATE, R.MODIFIED_DATE, R.REVIEW_CONTENT,
                       P.COMPANY_NAME, P.PILL_NAME,
                       M.LOGIN_ID ,M.NAME
                FROM TBL_REVIEW R
                JOIN TBL_PILL P ON R.PILL_ID = P.PILL_ID
                JOIN TBL_MEMBER M ON R.MEMBER_ID = M.MEMBER_ID
                <if test="keywordType != null and keywordType != ''">
                WHERE ${keywordType} LIKE '%' || #{keyword} || '%'
                </if>
                ORDER BY R.REVIEW_ID DESC
            )
            <![CDATA[
            WHERE ROWNUM <= #{page} * #{amount}
            ]]>
        )
        <![CDATA[
        WHERE RNUM > (#{page} - 1) * #{amount}
        ]]>
    </select>

    <select id="selectReviewInfo">
        SELECT R.REVIEW_ID, R.PILL_ID, R.MEMBER_ID, R.POINT, AVG_POINT_BY_PILL.AVG_POINT, R.CREATE_DATE, R.MODIFIED_DATE, R.REVIEW_CONTENT,
        P.COMPANY_NAME, P.PILL_NAME,
        M.LOGIN_ID ,M.NAME
        FROM TBL_REVIEW R
        JOIN TBL_PILL P ON R.PILL_ID = P.PILL_ID
        JOIN TBL_MEMBER M ON R.MEMBER_ID = M.MEMBER_ID
        LEFT JOIN (
            SELECT PILL_ID, AVG(POINT) AS AVG_POINT
            FROM TBL_REVIEW
            GROUP BY PILL_ID
        ) AVG_POINT_BY_PILL ON R.PILL_ID = AVG_POINT_BY_PILL.PILL_ID
        WHERE R.REVIEW_ID = #{reviewId}
        ORDER BY R.REVIEW_ID DESC
    </select>

    <select id="reviewTotal">
        SELECT COUNT(R.REVIEW_ID)
        FROM TBL_REVIEW R JOIN TBL_PILL P
        ON R.PILL_ID = P.PILL_ID
        JOIN TBL_MEMBER M
        ON R.MEMBER_ID = M.MEMBER_ID
        <if test="keywordType != null and keywordType != ''">
            WHERE ${keywordType} LIKE '%' || #{keyword} || '%'
        </if>
    </select>

    <delete id="deleteReview">
        DELETE FROM TBL_REVIEW
        WHERE REVIEW_ID = #{reviewId}
    </delete>

</mapper>