<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.yakbang.mapper.admin.AdminPillMapper">

    <select id="selectPillInfo">
        SELECT ITEM_SEQ, CATEGORY_ID, COMPANY_NAME, PILL_NAME, DETAIL_CONTENT, PILL_HOWTO, INTAKE_PRECAUTIONS,
               ATPNQESITM, INTRCQESITM, SEQESITM, PILL_DEPOSIT, TO_CHAR(OPEN_DATE, 'YYYY-MM-DD') AS OPEN_DATE, TO_CHAR(UPDATE_DATE, 'YYYY-MM-DD') AS UPDATE_DATE, PILL_COLOR, PILL_SHAPE, PILL_IMAGE
        FROM TBL_PILL
        WHERE ITEM_SEQ = #{itemSeq}
    </select>

    <select id="selectPillPageList">
        SELECT ITEM_SEQ, CATEGORY_ID, COMPANY_NAME, PILL_NAME, DETAIL_CONTENT, PILL_HOWTO, INTAKE_PRECAUTIONS, ATPNQESITM, INTRCQESITM, SEQESITM, PILL_DEPOSIT, TO_CHAR(OPEN_DATE, 'YYYY-MM-DD') AS OPEN_DATE, TO_CHAR(UPDATE_DATE, 'YYYY-MM-DD') AS UPDATE_DATE, PILL_COLOR, PILL_SHAPE, PILL_IMAGE
        FROM (
            SELECT ROWNUM AS RNUM, ITEM_SEQ, CATEGORY_ID, COMPANY_NAME, PILL_NAME, DETAIL_CONTENT, PILL_HOWTO, INTAKE_PRECAUTIONS, ATPNQESITM, INTRCQESITM, SEQESITM, PILL_DEPOSIT, OPEN_DATE, UPDATE_DATE, PILL_COLOR, PILL_SHAPE, PILL_IMAGE
            FROM (
                SELECT ITEM_SEQ, CATEGORY_ID, COMPANY_NAME, PILL_NAME, DETAIL_CONTENT, PILL_HOWTO, INTAKE_PRECAUTIONS, ATPNQESITM, INTRCQESITM, SEQESITM, PILL_DEPOSIT, OPEN_DATE, UPDATE_DATE, PILL_COLOR, PILL_SHAPE, PILL_IMAGE
                FROM TBL_PILL
                <if test="keyword != null and keyword != ''">
                    WHERE ${keywordType} LIKE '%' || #{keyword} || '%'
                </if>
                ORDER BY ITEM_SEQ DESC
                )
            <![CDATA[
            WHERE ROWNUM <= #{page} * #{amount}
            ]]>
            )
        <![CDATA[
        WHERE RNUM > (#{page} - 1) * #{amount}
        ]]>
    </select>

    <select id="PillTotal">
        SELECT COUNT(ITEM_SEQ)
        FROM TBL_PILL
        <if test="keywordType != null and keywordType != ''">
            WHERE ${keywordType} LIKE '%' || #{keyword} || '%'
        </if>
    </select>

    <update id="updatePill">
        UPDATE TBL_PILL
        SET PILL_NAME = #{pillName}, PILL_IMAGE = #{pillImage}
        WHERE ITEM_SEQ = #{itemSeq}
    </update>

</mapper>