@import url(reset.css);
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard-gov.min.css");
* {
  font-family: "Pretendard GOV Variable", "Pretendard GOV", -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif !important;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}

/* color 정의 
main : #16a87b
sub(민트) : #52d7cf
sub(그레이) : #e8f5f6
point : #fee751

text : #303030
text sub : #9c9c9c
*/
html,
body {
  height: 100%;
}

.hidden {
  display: none !important;
}

/* color */
.color-primary {
  color: #0d6efd;
}
.color-danger {
  color: #dc3545;
}

/* button 스타일 */
.btn-area {
  display: flex;
  align-items: center;
  gap: 12px;
}
.btn-sm {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0 8px;
  height: 32px;
  font-size: 12px;
  font-weight: 500;
  border-radius: 6px;
  cursor: pointer;
}
.btn-normal {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0 12px;
  height: 36px;
  font-size: 14px;
  font-weight: 500;
  border-radius: 6px;
  cursor: pointer;
}
.btn-big {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0 12px;
  width: 100%;
  height: 48px;
  font-size: 16px;
  font-weight: 500;
  border-radius: 6px;
  cursor: pointer;
}
.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0 12px;
  min-width: 120px;
  height: 44px;
  font-size: 16px;
  font-weight: 500;
  border-radius: 6px;
  cursor: pointer;
}

.btn-primary {
  color: #fff;
  border: none;
  background-color: #52d7cf;
}
.btn-gray {
  color: #fff;
  border: 1px solid #c9ccd2;
  background-color: #ccc;

}
.btn-light {
  color: #303030;
  border: 1px solid #e6e9ed;
}
.btn-over-primary {
  color: #303030;
  border: 1px solid #303030;
  &:hover {
    color: #fff;
    border-color: #52d7cf;
    background-color: #52d7cf;
  }
}
.btn-grayline-gray {
  color: #9c9c9c;
  border: 1px solid #9c9c9c;
  background-color: transparent;
  &:hover {
    background-color: rgba(121, 129, 143, 0.05);
    color: #79818f;
    outline: 0;
  }
}
.btn-light-primary {
  color: #252f4a;
  border: none;
  background-color: #F9F9F9;
  transition: all 0.3s;
  &:hover {
    color: #52d7cf;
    background-color: rgba(82, 215, 207, 0.2)
  }
}

button:disabled {
  color: #b4c0d3;
  border-color: #d7dce5;
  background-color: #f4f6fa;
  cursor: default;
}

/* select */
select {
  display: flex;
  padding: 10px 12px;
  width: 150px;
  height: 40px;
  color: #4b5675;
  font-size: 14px;
  border-radius: 4px;
  border: 1px solid #ccc;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url("../images/admin/ic_arrow_down_gray.svg");
  background-repeat: no-repeat;
  background-position: right 10px top 50%;
  background-size: 20px;
  cursor: pointer;
}

/* input 스타일 */
input[type="date"] {
  position: relative;
  padding-left: 8px;
  padding-right: 10px;
  width: 150px;
  height: 40px;
  font-size: 14px;
  border-radius: 4px;
  border: 1px solid #c9ccd2;
  background: url("../images/common/ico_calendar.svg") no-repeat;
  background-position: right 10px top 50%;
  background-size: 16px;
  .input-text {
    display: flex;
    align-content: center;
    padding: 0 8px;
    width: 150px;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    border-radius: 4px;
    border: 1px solid #c9ccd2;
  }
}
input[type="date"]::-webkit-clear-button,
input[type="date"]::-webkit-inner-spin-button {
  display: none;
}
input[type="date"]::-webkit-calendar-picker-indicator {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  color: transparent;
}

.input-box {
  padding: 0 8px;
  min-width: 250px;
  height: 40px;
  color: #303030;
  font-size: 16px;
  border-radius: 4px;
  border: 1px solid #c9ccd2;
  outline: none;
  &.full {
    width: 100%;
  }
  &.half {
    width: 50%;
  }
}

.radio-box {
  display: flex;
  align-items: center;
  gap: 4px;
  input[type='radio'] {
    -webkit-appearance: none; 
    -moz-appearance: none; 
    appearance: none;
    width: 16px;
    height: 16px;
    border: 2px solid #ccc; 
    border-radius: 50%;
    outline: none;
    cursor: pointer;
  }
  input[type='radio']:checked {
    background-color: #16a87b;
    border: 3px solid white; 
    box-shadow: 0 0 0 1.6px #16a87b; 
  }
  .radio-text {
    color: #303030;
    font-size: 16px;
    line-height: 18px;
    cursor: pointer;
  }
  & ~ .radio-box {
    margin-left: 10px;
  }
}

.file-box {
  height: 40px;
  border-radius: 4px;
  border: 1px solid #c9ccd2;
  input[type="file"] {
    opacity: 0;
  }
}

.textarea {
  padding: 16px;
  width: 100%;
  color: #303030;
  font-size: 14px;
  border-radius: 4px;
  border: 1px solid #c9ccd2;
  outline: none;
}

.textarea-box {
  padding: 16px;
  width: calc(100% - 27px);
  border-radius: 4px;
  border: 1px solid #c9ccd2;
  textarea {
    width: 100%;
    height: 400px;
    border: none;
    outline: none;
    resize: none;
  }
  .count {
    text-align: right;
  }
}


.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  .page-link {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 30px;
    height: 30px;
    color: #4b5675;
    font-size: 13px;
    font-weight: 500;
    border-radius: 8px;
    &.previous,
    &.next {
      background-repeat: no-repeat;
      background-position: 50%;
      background-size: 12px;
    }
    &.previous {
      background-image: url("../images/common/ico_arrow_left.svg");
    }
    &.next {
      background-image: url("../images/common/ico_arrow_right.svg");
    }
  }
  .page-item:not(.disabled) {
    .page-link:hover {
      color: #52d7cf;
      background-color: #e8f5f6;
    }
  } 
  .page-item.disabled {
    opacity: 0.4;
    .page-link {
      cursor: default;
    }
  }
  .page-item.active .page-link {
    color: #fff;
    background-color: #52d7cf;
  }
}



/* 딤 */
.dim {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 110;
}

/* 공통 영역 */
.all-wrap {
  display: flex;
  flex-direction: column;
  height: 100%;
}
/* 헤더 영역 */
.main-header {
  flex: none;
  display: block;
  z-index: 101;
  position: fixed;
  left: 0;
  top: 0;
  padding: 0px;
  width: 100%;
  height: 72px;
  background: #fff;
  box-shadow: 0px 2px 10px rgba(70, 56, 147, 0.1);
  transition: all 0.3s;
  .inner {
    display: flex;
    align-items: center;
    position: relative;
    gap: 40px;
    margin: 0 auto;
    padding: 0 16px;
    max-width: 1280px;
    height: 100%;
  }
  .header-logo {
    img {
      width: 150px;
    }
  }
  .btn-menu {
    padding: 10px;
    width: 40px;
    height: 40px;
    border: none;
    background: url("../images/common/ico_hamburger.svg") 50%/85% no-repeat;
    cursor: pointer;
  }
  .user-links {
    display: flex;
    gap: 20px;
    position: absolute;
    right: 16px;
    top: 50%;
    transform: translateY(-50%);
    a {
      color: #303030;
      font-size: 18px;
    }
  }
}
/* 메인 메뉴 영역 */
.main-menu {
  z-index: 120;
  position: fixed;
  left: -380px;
  top: 0;
  width: 380px;
  height: 100%;
  background: #fff;
  transition: all 0.3s;
  .top-area {
    display: flex;
    align-items: center;
    position: relative;
    padding-left: 30px;
    width: 100%;
    height: 78px;
    color: #fff;
    background-color: #16a87b;
    .title a {
      display: block;
      width: 150px;
      img {
        width: 100%;
      }
    }
    .btn-close {
      position: absolute;
      right: 32px;
      top: 50%;
      transform: translateY(-50%);
      width: 40px;
      height: 40px;
      cursor: pointer;
      border: 0;
      background: url("../images/common/ico_close_white.svg") 50%/75% no-repeat;
    }
  }
  .menu-area {
    padding: 30px 40px 50px;
    .item {
      padding: 20px 0;
      &:not(:first-child) {
        border-top: 2px dashed #e6e6e6;
      }
      a {
        display: flex;
        align-items: center;
        height: 50px;
        color: #303030;
        font-size: 18px;
        font-weight: 600;
      }
    }
  }
  &.open {
    left: 0;
  }
}

/* 메인 콘텐츠 영역 */
.main-contents,
.contents {
  margin-top: 72px;
  flex: 1;
  & > .inner {
    margin: 0 auto;
    
  }
  &:not(.contents) {
    & > .inner {
      padding: 40px 0;
      max-width: 1320px;
    }
    .search-section  {
      text-align: center;
      align-items: center;
      padding: 120px 0;
      width: 100%;
      .search-text {
        color: #303030;
        font-size: 48px;
        font-weight: 700;
        span {
          color: #16a87b;
        }
      }
    }
  }
  &:not(.main-contents) {
    & > .inner {
      padding: 40px 0 100px;
      max-width: 1080px;
    }
    .search-section  {
      margin: 0 auto;
      padding: 40px 0 60px;
      width: 960px;
      .search-text {
        color: #303030;
        font-size: 26px;
        font-weight: 500;
        span {
          color: #16a87b;
        }
      }
    }
  } 
}

/* 푸터 영역 */
.main-footer {
  flex: none;
  background-color: #2d3142;
  .inner {
    display: flex;
    gap: 20px;
    margin: 0 auto;
    padding: 56px 40px 126px;
    width: 1280px;
    color: #9c9c9c;
  }
  .logo {
    padding-top: 5px;
    img {
      width: 100px;
    }
  }
  .footer-info {
    font-size: 14px;
    line-height: 24px;
  }
}

.sub-header {
  position: relative;
  .title {
    color: #303030;
    font-size: 26px;
    font-weight: 600;
  }
  .sub-txt {
    display: flex;
    margin-top: 10px;
    color: #9c9c9c;
  }
  .search-area { 
    margin-top: 20px;
  }
  .btn {
    position: absolute;
    right: 0;
    top: 0;
  }
}
.search-area {
  position: relative;
  width: 100%;
  .input-search {
    display: flex;
    padding: 0 54px 0 20px;
    width: 100%;
    height: 50px;
    color: #303030;
    font-size: 16px;
    font-weight: 700;
    border-radius: 25px;
    border: 0;
    background-color: #f4f6fa;
    &::placeholder {
      color: #9c9c9c;
    }
  }
  .btn-search {
    display: flex;
    position: absolute;
    top: 11px;
    right: 20px;
    width: 28px;
    height: 28px;
    border: none;
    background: url(https://cdn.pillyze.io/web/img/plz-search2-3.webp) center
      no-repeat;
    background-size: 28px 28px;
    filter: invert(58%) sepia(27%) saturate(1253%) hue-rotate(80deg)
      brightness(87%) contrast(85%);
    z-index: 50;
    cursor: pointer;
  }
}



/* 검색영역 */
.search-section {
  display: flex;
  flex-direction: column;
  .search-box {
    position: relative;
    margin-top: 40px;
    width: 960px;
    .search-input {
      padding: 0 124px;
      width: 100%;
      height: 64px;
      color: #303030;
      font-size: 20px;
      font-weight: 500;
      text-align: center;
      border-radius: 32px;
      border: none;
      box-shadow: 0px 2px 10px rgba(70, 56, 147, 0.1);
      outline: none;
      &::placeholder {
        color: #9c9c9c;
        font-weight: 700;
      }
    }
    .btn-search {
      position: absolute;
      right: 0;
      top: 0;
      width: 124px;
      height: 64px;
      border-radius: 32px;
      border: 0;
      background: linear-gradient(90deg, #16a87b 0%, #16a87b 100%);
      img {
        width: 40px;
      }
    }
  }
  .search-etc {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 30px;
    width: 960px;
    .title {
      color: #787e8b;
      font-size: 18px;
      line-height: 42px;
      font-weight: 700;
    }
    .search-keywords {
      display: flex;
      gap: 20px;
  
      .search-keyword {
        padding: 0px 15px;
        height: 42px;
        color: #787e8b;
        font-size: 18px;
        font-weight: 500;
        line-height: 42px;
        background: #f4f6fa;
        border-radius: 21px;
      }
    }
  }
}


/* QnA */
.qna-card-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-top: 20px;
  .qna-card {  
    align-items: baseline;
    padding: 25px 40px;
    border-radius: 20px;
    border: 1px solid #e6e9ed;
    box-shadow: 0px 2px 10px rgba(70, 56, 147, 0.1);
  }
}
.qna-card {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  gap: 20px;

}
.category-tag {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px 5px;
  color: #16a87b;
  font-size: 12px;
  font-weight: 500;
  line-height: 22px;
  text-align: center;
  border-radius: 5px;
  background: #f4f2ff;
}

.qna-card {
  .qna-header {
    .title {
      display: flex;
      color: #303030;
      font-size: 18px;
      font-weight: 700;
      line-height: 26px;
      overflow: hidden;
      text-overflow: ellipsis;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      &::before {
        display: block;
        content: "Q.";
        margin-right: 4px;
        color: #16a87b;
      }
    }
    .cont {
      display: -webkit-box;
      margin-top: 8px;
      color: #787e8b;
      font-size: 16px;
      font-weight: 500;
      line-height: 24px;
      overflow: hidden;
      text-overflow: ellipsis;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
    }
  }
  .qna-body {
    position: relative;
    
    .cont {
      display: block;
      display: -webkit-box;
      padding-top: 4px;
      color: #303030;
      font-size: 16px;
      font-weight: 500;
      line-height: 24px;
      overflow: hidden;
      text-overflow: ellipsis;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
    }
    [class*="qna-user-icon-"] {
      position: absolute;
      left: 0;
      top: 0;
      & + .cont {
        padding-left: 40px;
      }
    }
  }
  .user-info {
    display: flex;
    align-items: center;
    gap: 4px;
    font-size: 14px;
    line-height: 22px;
    .user-name {
      color: #787e8b;
      font-weight: 700;
    }
    .user-agegender {
      color: #9ba1aa;
      font-weight: 500;
    }
  }
}
[class*="qna-user-icon-"] {
  flex: 0 0 30px;
  display: block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-size: 30px;
}
.qna-user-icon-1 {
  background-image: url("../images/common/img_male.png");
}
.qna-user-icon-2 {
  background-image: url("../images/common/img_female.png");
}

/* 더보기 버튼 */
.btn-more {
  display: flex;
  justify-content: end;
  margin-top: 20px;
  .more {
    color: #9BA1AA;
    font-size: 16px;
    font-weight: 500;
    text-decoration: underline;
  }
}


/* 별점 넣기 */
.rating-box {
  position: relative;
  width: 100px;
  height: 20px;
  background-image: url("../images/common/ico_star_off.png");
  background-repeat: repeat-x;
  background-size: 20px;
  background-position: left 1px top 50%;
  .rating-select {
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 20px;
    background-image: url("../images/common/ico_star_on.png");
    background-repeat: repeat-x;
    background-size: 20px;
    background-position: left 1px top 50%;
    filter: invert(66%) sepia(96%) saturate(485%) hue-rotate(360deg) brightness(170%) contrast(105%);
  }
}

/* review */
.review-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding-top: 30px;
  .review-card {
    padding: 30px;
    width: calc(50% - 10px);
    border-radius: 20px;
    box-shadow: 0px 2px 10px rgba(70, 56, 147, 0.1);
  }
  &.type-oneline .review-card {
    width: 100%;
  }
}
.review-card {

  background: #ffffff;
  .card-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    .user-info {
      font-weight: 500;
      font-size: 14px;
      color: #9ba1aa;
    }
    .card-title {
      display: flex;
      flex-direction: column;
      gap: 6px;
      margin-top: 10px;
      padding-left: 10px;
      border-left: 3px solid  #E6E9ED;
      .company {
        color: #9BA1AA;
        font-size: 14px;
        font-weight: 500;
      }
      .product {
        font-size: 14px;
        font-weight: 700;
        color: #101219;
      }
    }
  }
  .card-body {
    padding-top: 20px;
    .review-txt {
      color: #303030;
      font-size: 16px;
      font-weight: 500;
      line-height: 24px;
      /* &::before {
        display: block;
        font-size: 16px;
        font-weight: 800;
        color: #16a87b;
      }
      &.good::before {
        content: "Good";
      }
      &.bad {
        margin-top: 10px;
      }
      &.bad::before {
        content: "Bad";
      } */
    }
  }
}
.ellipsis {
  display: block;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.ellipsis-line {
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  height: 120px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: pre-line;
}

/* 모달팝업 */
.modal-wrap {
  display: none;
  z-index: 1000;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 650px;
  border-radius: 10px;
  background-color: #fff;
  &.type2 {
    width: 860px;
  }
  .modal-header {
    position: relative;
    padding: 16px;
    & > .title {
      color: #303030;
      font-size: 22px;
      font-weight: 600;
    }
    .btn-close {
      position: absolute;
      right: 16px;
      top: 16px;
      width: 20px;
      height: 20px;
      font-size: 0;
      border: 0;
      background: url('../images/common/ico_close_black.svg') 50%/20px no-repeat;
      cursor: pointer;
    }
  }
  .modal-body {
    padding: 42px;
    & > .title {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 40px;
      color: #303030;
      font-size: 22px;
      font-weight: 600;
    }
  }
  &.open {
    display: block;
  }
}
