<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.yakbang.mapper.member.MemberMapper">

<!--    회원가입 처리-->
    <insert id="insertMember">
        <selectKey resultType="long" keyProperty="memberId" order="BEFORE">
            SELECT SEQ_MEMBER.nextval FROM DUAL
        </selectKey>
        INSERT INTO TBL_MEMBER(MEMBER_ID, LOGIN_ID, PASSWORD, PHONE_NUMBER, NAME, BIRTH, EMAIL, GENDER)
        VALUES (#{memberId},#{loginId},#{password},#{phoneNumber},#{name},#{birth},#{email},#{gender})
    </insert>

<!--    로그인 처리-->
    <select id="selectMemberId">
        SELECT MEMBER_ID FROM TBL_MEMBER
        WHERE LOGIN_ID = #{loginId} AND PASSWORD = #{password}
    </select>

<!--    아이디 중복 확인용 -->
    <select id="selectLoginIdCount">
        SELECT COUNT(MEMBER_ID) FROM TBL_MEMBER
        WHERE LOGIN_ID = #{loginId}
    </select>

<!--    마이페이지 정보 조회용-->
    <select id="findMemberInfo">
        SELECT LOGIN_ID,NAME,BIRTH,PHONE_NUMBER,EMAIL
        FROM TBL_MEMBER
        WHERE LOGIN_ID=#{loginId} AND PASSWORD=#{password}
    </select>

</mapper>