.qna-detail-wrap {
  display: block;
  width: 100%;
  padding: 30px 40px;
  background: #ffffff;
  border: 1px solid #e6e9ed;
  border-radius: 20px;
}
.qna-detail-wrap2 {
  display: block;
  width: 100%;
  padding: 30px 40px;
  background: #ffffff;
  border-radius: 20px;
}
.t1 {
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
  height: 16px;
  color: #535968;
}
.title {
  font-weight: 700;
  font-size: 22px;
  line-height: 140%;
  color: #101219;
  line-height: 30px;
  text-align: left;
  margin: 0px 0px 30px;
}
.title2 {
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  color: #2d3142;
  margin: 0px 0px 30px;
  text-align: left;

  img {
    width: 100%;

    /*display: block;*/
    /*margin-left: auto;*/          /* 이미지 중앙 정렬 */
    /*margin-right: auto;*/
  }
}
.line-210-1 {
  width: 100%;
  height: 1px;
  background: #e6e9ed;
  margin: 40px 0px;
}
.ci-date {
  font-weight: 500;
  text-align: left;
  font-size: 14px;
  line-height: 1;
  color: #c4c8ce;
  margin-bottom: 10px;
}
.reply-qna-wrap {
  display: block;
  width: 100%;
  padding: 20px 0px;
  margin: 0;
  background: #ffffff;
  border: 1px solid #e6e9ed;
  border-radius: 20px;
}
.row {
  position: relative;
  .views {
    position: absolute;
    right: 0;
    top: 0;
    color: #303030;
    font-size: 14px;
    font-weight: 500;
    text-align: left;
  }
}
.row1 {
  display: block;
  width: calc(100% + 2px);
  transform: translateX(-1px);
  padding: 20px;
  background: #f4f2ff;
}
.txt-wrap {
  width: calc(100% - 60px);
  height: 50px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.t-txt1 {
  width: 100%;
  height: 28px;
  line-height: 28px;
  text-align: left;
  font-weight: 700;
  font-size: 20px;
  color: #101219;
}
.ci-img1 {
  float: left;
  width: 50px;
  height: 50px;
}
.t-txt2 {
  line-height: 1;
  text-align: left;
  font-weight: 500;
  font-size: 14px;
  color: #9ba1aa;
}

.btn-answer {
  color: #fff;
  border: none;
  background-color: #52d7cf;
  margin-left: 87%;
  margin-top: 20px
}
