.main-content{
    margin: 200px auto 200px auto;
    width: 420px;
    height: 480px;
}

.tilte-img{
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-tilte-heder{
    display: flex;
    justify-content: center;
    align-items: center;
    img{
        width: 90%;
    }
}

.frame-body-text1{
    margin-top: 30px;
    margin-bottom: 20px;
}

.frame-body-text2{
    margin-bottom: 50px;
}

.body-text1{
    color: rgba(31, 31, 31, 1);
    font-weight: 500;
    font-size: 22px;
    text-align: center;
}

.body-text2{
    color: rgba(102, 102, 102, 1);
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    margin-bottom: 2px;
}

.input-box {
    margin: 0 auto;
    vertical-align: middle;
    padding: 0 16px;
    height: 44px;
    background-color: #f5f5f5;
    align-items: center;
    border-radius: 0.4rem;
    flex-direction: row;
    flex-wrap: nowrap;
    position: relative;
    width: 100%;
    justify-content: center;
}
.form-control input {
    background-color: transparent;
    border-width: 0;
    height: 100%;
    width: 100%;
}

input:focus {
    outline: none;
}

.auto-prevention {
    display: flex;
    align-items: flex-end;
    margin: 20px 0;
}

.input-img-test img {
    display: block;
    max-width: 100%;
    height: auto;
}

.input-option {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    margin-left: 10px;
}

.btn-option {
    background: #f5f5f5;
    border: none;
    padding: 0;
    margin: 5px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
}

.btn-option img {
    width: 16px;
    height: 16px;
}

.btn-login {
    width: 100%;
    height: 45px;
    border: none;
    background-color: rgba(235, 235, 235, 1.5);
    border-radius: 0.4rem;
    margin-top: 30px;
    font-size: 16px;
}

.btn-login.enabled {
    background-color: #16a87b;
    cursor: pointer;
}

.enabled{
    background-color: #16a87b;
    color: white;
}

.btn-login>span{
    color: rgba(102, 102, 102, 1);
}


.bottom-text{
    margin-top: 50px;
}

.bottom-text>a{
    margin-top: 5px;
    display: flex;
    justify-content: center;
    color: #16a87b;
    text-decoration: underline;
}
.bottom-text>a:visited{
    color: #16a87b;
}

