.title-img{
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-title-header{
    margin-top: 13vh;
    display: flex;
    justify-content: center;
    align-items: center;
    img{
        width: 90%;
    }
}

.frame-body-text1{
    margin-top: 30px;
    margin-bottom: 20px;
}

.frame-body-text2{
    margin-bottom: 50px;
}

.body-text1{
    color: rgba(31, 31, 31, 1);
    font-weight: 500;
    font-size: 20px;
    text-align: center;
}

.body-text2{
    color: rgba(102, 102, 102, 1);
    font-weight: 400;
    font-size: 15px;
    text-align: center;
}


.certified-box-frame{
    background-color: #F5F5F5;
    width: 400px;
    height: 80px;
    margin: 8px auto;
    align-items: center;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
}

.certified-box-frame>p{
    display: block;
    color: rgba(31, 31, 31, 1);
    font-weight: 500;
    font-size: 18px;
    text-align: center;
}

.box-obj{
    width: 48px;
    height: 48px;
    background: url("/images/member/icon-easy.png") no-repeat;
    background-size: 100% 100%;
    display: inline-block;
    margin-left: 30px;
    margin-right: 15px;
}

.box-obj2{
    width: 30px;
    height: 30px;
    background: url("/images/member/icon-arrow.png") no-repeat;
    background-size: 100% 100%;
    display: inline-block;
    margin-left: 195px;
}

.box2-obj{
    width: 48px;
    height: 48px;
    background: url('/images/member/icon-phone.png') no-repeat;
    background-size: 100% 100%;
    display: inline-block;
    margin-left: 30px;
    margin-right: 15px;
}

#phone-certified{
    width: 30px;
    height: 30px;
    background: url('/images/member/icon-arrow.png') no-repeat;
    background-size: 100% 100%;
    display: inline-block;
    margin-left: 180px;
}

.certified-box {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    color: initial;
}
.certified-box:visited {
    color: initial;
}
.box3-obj{
    width: 48px;
    height: 48px;
    background: url('/images/member/icon-toss.png') no-repeat;
    background-size: 100% 100%;
    display: inline-block;
    margin-left: 30px;
    margin-right: 15px;
}

.bottom-text{
    margin-top: 50px;
}

.bottom-text>a{
    margin-top: 5px;
    display: flex;
    justify-content: center;
    color: #16a87b;
    text-decoration: underline;
}
.bottom-text>a:visited{
    color: #16a87b;
}