.login-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-area {
    width: 400px;
    margin-top: 20%;
    text-align: center;
    margin-bottom: 5%;
    img {
        width: 60%;
    }
}
.tab_member_type {
    margin: 0;
    padding: 0;
    list-style-type: none;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}
.btn-tab-general,
.btn-tab-pro {
    font-family: Arial, sans-serif;
}
.tab_member_type button {
    width: 100%;
    padding: 10px;
    background: none;
    border: none;
    font-size: 16px;
    cursor: pointer;
    position: relative;
}

.tab-genral button::after {
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background: #16a87b;
    position: absolute;
    bottom: 0;
    left: 50%;
    transition: width 0.3s, left 0.3s;
}
.tab-pro button::after {
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background: #52d7cf;
    position: absolute;
    bottom: 0;
    left: 50%;
    transition: width 0.3s, left 0.3s;
}
.tab-genral button[aria-selected="true"] {
    font-weight: bold;
    color: #16a87b;
}
.tab-pro button[aria-selected="true"] {
    font-weight: bold;
    color: #52d7cf;
}
.tab_member_type button[aria-selected="true"]::after {
    width: 100%;
    left: 0;
}

.tab-genral,
.tab-pro {
    margin: 0 auto;
    width: 130px;
    margin-top: 30px;
    margin-bottom: 50px;
}

.btn-tab-general {
    font-weight: 700;
    position: relative;
    color: #8491a7;
    font-size: 24px;
    line-height: 34px;
    cursor: pointer;
    background: transparent;
}

.btn-tab-pro {
    position: relative;
    color: #8491a7;
    font-size: 24px;
    line-height: 34px;
    cursor: pointer;
    border: 0;
    background: transparent;
}

.input-box {
    margin: 0 auto;
    vertical-align: middle;
    padding: 0 16px;
    height: 44px;
    background-color: #f5f5f5;
    align-items: center;
    border-radius: 0.4rem;
    flex-direction: row;
    flex-wrap: nowrap;
    position: relative;
    width: 400px;
    margin-bottom: 8px;
    justify-content: center;
}
.check-box-main {
    margin: 20px 0;
}

.form-control input {
    background-color: transparent;
    border-width: 0;
    height: 100%;
    width: 100%;
}

.mt-10 {
    margin: 30px;
}

.btn-login {
    width: 400px;
    height: 45px;
    border: none;
    background-color: #16a87b;
    border-radius: 0.4rem;
}

.btn-submit {
    color: white;
    font-weight: bold;
}

.google,
.kakao,
.naver {
    margin: 25px 28px;
    img {
        width: 70px;
    }
}

.login-img {
    display: flex;
    justify-content: center;
}
.line {
    width: 400px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.find-id,
.find-password,
.join-member {
    text-align: center;
    width: 120px;
    margin-top: 30px;
    position: relative;
    left: -2px;
    margin-bottom: 15%;
}

.separator {
    display: flex;
    align-items: center;
    text-align: center;
    margin-top: 30px;
    font-size: 15px;
    color: rgba(0, 0, 0, 0.4);
}
.separator::before,
.separator::after {
    content: "";
    flex: 1;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.member-function {
    display: flex;
    justify-content: center;
}
.find-password {
    border-left: 1px solid rgba(0, 0, 0, 0.1);
    border-right: 1px solid rgba(0, 0, 0, 0.1);
}

a {
    color: black;
}

a:visited {
    color: black;
}

a:active {
    color: black;
}

input:focus {
    outline: none;
}
