.mypage-title {
    display: flex;
    justify-content: center;
    margin: 60px 0 12px;
    color: #303030;
    font-size: 34px;
    font-weight: 700;
}

.mypage-header {
    position: relative;
    margin-top: 40px;
    .title {
        color: #303030;
        font-size: 22px;
        font-weight: 700;
    }
    .btn-normal {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
    }
}

.mypage-body {
    margin-top: 20px;
    .info-list {
        border-top: 1px solid #aeb3bb;
        .item {
            display: flex;
            align-items: center;
            padding: 24px 0;
            font-size: 16px;
            border-bottom: 1px solid #e4e5e8;
            .info-key {
                padding-left: 32px;
                width: 150px;
                color: #79818f;
            }
            .info-value {
                color: #303030;
            }
        }
    }
    .info-btns {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 16px;
        margin-top: 32px;
        padding: 0 16px;
        height: 50px;
        font-size: 12px;
        background-color: #fff;
        border: 1px solid #c9ccd2;
        .btn-open-modal {
            display: inline-flex;
            position: relative;
            align-items: center;
            font-weight: 700;
            color: inherit;
            word-break: keep-all;
            &::before {
                content: '';
                position: absolute;
                bottom: -2px;
                left: 0;
                width: calc(100% - .9em);
                height: 1px;
                background-color: currentColor;
                transform: scaleX(0);
                transform-origin: left;
                transition: transform .2s linear;
            }
            &:hover::before {
                transform: scaleX(1);
            }
            &::after{
                content: '';
                display: inline-block;
                width: .9em;
                height: .9em;
                background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHhtbG5zOnhsaW5rPSdodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rJyB3aWR0aD0nMTInIGhlaWdodD0nMTInIHZpZXdCb3g9JzAgMCAxMiAxMic+PGRlZnM+PHBhdGggaWQ9J2EnIGQ9J000IDUuMDczbC0zLjYtMy42TDEuNjczLjJsNC44NzMgNC44NzMtNC44NzMgNC44NzNMLjQgOC42NzN6Jy8+PC9kZWZzPjx1c2UgZmlsbD0ncmdiYSgyNCwgMjUsIDI4LCAwLjk5OSknIGZpbGwtcnVsZT0nZXZlbm9kZCcgdHJhbnNmb3JtPSd0cmFuc2xhdGUoMiAxKScgeGxpbms6aHJlZj0nI2EnLz48L3N2Zz4=) center no-repeat;
                transform: translateY(1px);
            }
        }
    }
}

/* 모달 배경 */
/*modal-wrap*/
.mw {
    display: none; /* 기본적으로 숨김 */
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(128, 128, 128, 0.5); /* 회색빛 반투명 배경 */
    overflow: auto; /* 필요 시 스크롤 가능 */

    /* 모달 내용 */
    /*modal-header*/
    .modal-h{
        padding-bottom: 30px;
    }
    /*modal-body*/
    .mb {
        background-color: #fff; /* 흰색 배경 */
        margin: 20% auto;
        padding: 20px;
        border-radius: 8px;
        width: 80%;
        max-width: 500px;
    }

    .title{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        font-size: 25px;
        margin: 10px 0px 50px 0px;
    }

    /* 닫기 버튼 */
    .btn-close {
        font-size: 0px;
        border: none;
        padding: 10px 20px;
        background: url('/images/common/ico_close_black.svg') 50%/20px no-repeat;
        cursor: pointer;
        float: right;
        border-radius: 4px;
    }

    /* 버튼 영역 */
    /*btn-area*/
    .ba {
        display: flex;
        margin-top: 50px;
        justify-content: center;
        gap: 30px;
    }

    /* 일반 버튼 스타일 */
    .btn {
        padding: 10px 70px;
        border: none;
        cursor: pointer;
        border-radius: 4px;
    }

    /* 탈퇴 버튼 스타일 */
    .btn-light {
        background: #f0f0f0; /* 연한 회색 배경 */
        color: #333; /* 검은색 글자 */
    }

    /* 취소 버튼 스타일 */
    .btn-primary {
        background: #52d7cf;
        color: white;
    }

    /* 정보 버튼 영역 스타일 */
    .info-btns {
        margin: 20px 0;
    }

    .info-txt {
        font-size: 16px;
    }

    .form-control{
        margin: 20px;
        font-size: 17px;
    }
    /*form-control 약자 따로만듬*/
    .fc{
        display: flex;
        margin: 30px;
        align-items: center;
        justify-content: center;
        font-size: 17px;
    }
}


